<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.chinacreator.c2.qyb.workflow.sla.entity.ServiceProductUCRelMapper">	

<!-- ElementID:column_sql,Generated=true -->
<sql id="column_sql">
		  SERVICE_UC_SP_REL.rel_id ,
		  SERVICE_UC_SP_REL.rel_describe ,
		  SERVICE_UC_SP_REL.rel_type_id ,
		  SERVICE_SERVICEPRODUCT_T1.product_id T1_product_id ,
		  SERVICE_SERVICEPRODUCT_T1.product_no T1_product_no ,
		  SERVICE_SERVICEPRODUCT_T1.product_name T1_product_name ,
		  SERVICE_SERVICEPRODUCT_T1.product_describe T1_product_describe ,
		  SERVICE_SERVICEPRODUCT_T1.service_type_id T1_service_type_id ,
		  SERVICE_SERVICEPRODUCT_T1.group_id T1_group_id ,
		  SERVICE_SERVICEPRODUCT_T1.wf_processdefid T1_wf_processdefid ,
		  SERVICE_SERVICEPRODUCT_T1.wf_processstart_url T1_wf_processstart_url ,
		  SERVICE_SERVICEPRODUCT_T1.form_id T1_form_id ,
		  SERVICE_SERVICEPRODUCT_T1.ico T1_ico ,
		  SERVICE_UPDERPIN_CONTRACT_T2.uc_id T2_uc_id ,
		  SERVICE_UPDERPIN_CONTRACT_T2.uc_name T2_uc_name ,
		  SERVICE_UPDERPIN_CONTRACT_T2.contract_name T2_contract_name ,
		  SERVICE_UPDERPIN_CONTRACT_T2.supplier_name T2_supplier_name ,
		  SERVICE_UPDERPIN_CONTRACT_T2.service_valid_starttime T2_service_valid_starttime ,
		  SERVICE_UPDERPIN_CONTRACT_T2.service_valid_endtime T2_service_valid_endtime ,
		  SERVICE_UPDERPIN_CONTRACT_T2.service_time_day_of_week T2_service_time_day_of_week ,
		  SERVICE_UPDERPIN_CONTRACT_T2.service_time_time_of_day T2_service_time_time_of_day ,
		  SERVICE_UPDERPIN_CONTRACT_T2.service_type T2_service_type 
</sql>

<!-- ElementID:whereClause_sql,Generated=true -->
<sql id="whereClause_sql">
	    <if test="relId != null">and SERVICE_UC_SP_REL.rel_id = #{relId}</if>
	    <if test="relDescribe != null">and SERVICE_UC_SP_REL.rel_describe = #{relDescribe}</if>
	    <if test="relTypeId != null">and SERVICE_UC_SP_REL.rel_type_id = #{relTypeId}</if>
		<if test="productId != null and productId.productId !=null">and SERVICE_UC_SP_REL.product_id = #{productId.productId}</if>
		<if test="ucId != null and ucId.ucId !=null">and SERVICE_UC_SP_REL.uc_id = #{ucId.ucId}</if>
</sql>


<!-- ElementID:ServiceProductUCRelResult,Generated=true -->
<resultMap id="ServiceProductUCRelResult" type="com.chinacreator.c2.qyb.workflow.sla.entity.ServiceProductUCRel">
	<id property="relId" column="rel_id"/>
	<result property="relDescribe" column="rel_describe"/>
	<result property="relTypeId" column="rel_type_id"/>
	<association property="productId" column="T1_product_id" javaType="com.chinacreator.c2.qyb.workflow.module.entity.ServiceProduct" resultMap="ServiceProductResult" columnPrefix="T1_"/>	
	<association property="ucId" column="T2_uc_id" javaType="com.chinacreator.c2.qyb.workflow.sla.entity.UnderpinContract" resultMap="UnderpinContractResult" columnPrefix="T2_"/>	
</resultMap>


<!-- ElementName:cache,Generated=true -->
<cache/>

<!-- ElementID:insert,Generated=true -->
<insert id="insert" parameterType="com.chinacreator.c2.qyb.workflow.sla.entity.ServiceProductUCRel">
	insert into SERVICE_UC_SP_REL(
	         <if test="relId != null">rel_id</if>
	         <if test="relDescribe != null">,rel_describe</if>
	         <if test="relTypeId != null">,rel_type_id</if>
	 	 	 <if test="productId != null and productId.productId !=null">,product_id</if>
	 	 <if test="ucId != null and ucId.ucId !=null">,uc_id</if>
	 	 )
	 values (
	         <if test="relId != null">#{relId,jdbcType=VARCHAR}</if>
	         <if test="relDescribe != null">,#{relDescribe,jdbcType=VARCHAR}</if>
	         <if test="relTypeId != null">,#{relTypeId,jdbcType=VARCHAR}</if>
	 	 	 <if test="productId != null and productId.productId !=null">,#{productId.productId,jdbcType=VARCHAR}</if>
	 	 <if test="ucId != null and ucId.ucId !=null">,#{ucId.ucId,jdbcType=VARCHAR}</if>
	 	 )
</insert>

<!-- ElementID:count,Generated=true -->
<select id="count" parameterType="com.chinacreator.c2.qyb.workflow.sla.entity.ServiceProductUCRel" resultType="int">
	select count(*) from SERVICE_UC_SP_REL 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>

<!-- ElementID:update,Generated=true -->
<update id="update" parameterType="com.chinacreator.c2.qyb.workflow.sla.entity.ServiceProductUCRel">
	update SERVICE_UC_SP_REL
<set>
	<if test="relDescribe != null">rel_describe=#{relDescribe,jdbcType=VARCHAR},</if>
	<if test="relTypeId != null">rel_type_id=#{relTypeId,jdbcType=VARCHAR},</if>
	<if test="productId != null and productId.productId !=null">product_id=#{productId.productId,jdbcType=VARCHAR},</if>
	<if test="ucId != null and ucId.ucId !=null">uc_id=#{ucId.ucId,jdbcType=VARCHAR}</if>
</set>
<where>
	<choose>
        <when test="relId != null">and rel_id = #{relId}</when>
        <otherwise>and rel_id = </otherwise>
    </choose>
</where>
</update>

<!-- ElementID:updateNull,Generated=true -->
<update id="updateNull" parameterType="map">
	update SERVICE_UC_SP_REL
	<set>
		<trim suffixOverrides=",">
		    <if test="relDescribe==null">rel_describe = null,</if>
		    <if test="relTypeId==null">rel_type_id = null,</if>
		    <if test="productId==null">product_id = null,</if>
		    <if test="ucId==null">uc_id = null,</if>
		</trim>
	</set>
	<where>
		<choose>
			<when test="relId != null">and rel_id = #{relId}</when>
			<otherwise>and rel_id = </otherwise>
		</choose>
	</where>
</update>

<!-- ElementID:delete,Generated=true -->
<delete id="delete" parameterType="com.chinacreator.c2.qyb.workflow.sla.entity.ServiceProductUCRel">
    delete from SERVICE_UC_SP_REL where 1=1 and rel_id = #{relId}
</delete>

<!-- ElementID:select,Generated=true -->
<select id="select" parameterType="com.chinacreator.c2.qyb.workflow.sla.entity.ServiceProductUCRel" resultMap="ServiceProductUCRelResult">
	select 
		<include refid="column_sql"/>
	    from SERVICE_UC_SP_REL 
		<include refid="one2one_sql"/>
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>


<!-- ElementID:insertBatch,Generated=true -->
<insert id="insertBatch" parameterType="list">
	insert into SERVICE_UC_SP_REL (rel_id,rel_describe,rel_type_id,product_id,uc_id) 
<foreach collection="list" item="entity" index="index" separator="union all">
		select 
		#{entity.relId,jdbcType = VARCHAR},
				#{entity.relDescribe,jdbcType = VARCHAR},
				#{entity.relTypeId,jdbcType = VARCHAR},
						 #{entity.productId.productId,jdbcType=VARCHAR},				 #{entity.ucId.ucId,jdbcType=VARCHAR}
		from dual
</foreach>
</insert>

<!-- ElementID:deleteBatch,Generated=true -->
<delete id="deleteBatch" parameterType="List">
	delete from SERVICE_UC_SP_REL where rel_id in
<trim prefix="(" suffix=")" suffixOverrides=",">
<foreach collection="list" item="entity" separator=",">
	#{entity.relId}
</foreach>
</trim>
</delete>

<!-- ElementID:selectAll,Generated=true -->
<select id="selectAll" resultMap="ServiceProductUCRelResult">
	select 
		<include refid="column_sql"/>
	    from SERVICE_UC_SP_REL 
		<include refid="one2one_sql"/>
</select>

<!-- ElementID:selectByID,Generated=true -->
<select id="selectByID" parameterType="java.lang.String" resultMap="ServiceProductUCRelResult">
	select 
		<include refid="column_sql"/>
	    from SERVICE_UC_SP_REL 
		<include refid="one2one_sql"/>
		 where SERVICE_UC_SP_REL.rel_id = #{relId,jdbcType=VARCHAR}
</select>

<!-- ElementID:selectByPage,Generated=true -->
<select id="selectByPage" parameterType="com.chinacreator.c2.qyb.workflow.sla.entity.ServiceProductUCRel" resultMap="ServiceProductUCRelResult">
	select 
		<include refid="column_sql"/>
	    from SERVICE_UC_SP_REL 
		<include refid="one2one_sql"/>
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>


<!-- ElementID:selectMany,Generated=true -->
<select id="selectMany" parameterType="list" resultMap="ServiceProductUCRelResult">
select 
	<include refid="column_sql"/> 
	from SERVICE_UC_SP_REL 
	<include refid="one2one_sql"/>
	where SERVICE_UC_SP_REL.rel_id in (
<foreach collection="list" item="entity" separator="intersect">
		select 
		SERVICE_UC_SP_REL.rel_id
	    from SERVICE_UC_SP_REL 
		 <where>
	        <if test="entity.relId != null">and SERVICE_UC_SP_REL.rel_id = #{entity.relId}</if>
	        <if test="entity.relDescribe != null">and SERVICE_UC_SP_REL.rel_describe = #{entity.relDescribe}</if>
	        <if test="entity.relTypeId != null">and SERVICE_UC_SP_REL.rel_type_id = #{entity.relTypeId}</if>
		</where>
</foreach>
)
</select>






<!--Generated=true-->
<update id="updateBatch" parameterType="list">
	<foreach collection="list" item="entity" open="begin" close=";end;" separator=";">
			update SERVICE_UC_SP_REL
	<set>
	<if test="entity.relDescribe != null">rel_describe= #{entity.relDescribe,jdbcType=VARCHAR},</if>
	<if test="entity.relTypeId != null">rel_type_id= #{entity.relTypeId,jdbcType=VARCHAR},</if>
	<if test="entity.productId != null and entity.productId.productId !=null">product_id= #{entity.productId.productId,jdbcType=VARCHAR},</if>
	<if test="entity.ucId != null and entity.ucId.ucId !=null">uc_id= #{entity.ucId.ucId,jdbcType=VARCHAR}</if>
	</set>
		<where>
			<choose>
				<when test="entity.relId != null">and rel_id = #{entity.relId}</when>
				<otherwise>and rel_id = </otherwise>
			</choose>
		</where>
	</foreach>
</update>
<!--Generated=true-->
<sql id="one2one_sql">
	     left outer join SERVICE_SERVICEPRODUCT SERVICE_SERVICEPRODUCT_T1 on SERVICE_UC_SP_REL.product_id=SERVICE_SERVICEPRODUCT_T1.product_id
	     left outer join SERVICE_UPDERPIN_CONTRACT SERVICE_UPDERPIN_CONTRACT_T2 on SERVICE_UC_SP_REL.uc_id=SERVICE_UPDERPIN_CONTRACT_T2.uc_id
</sql>
<!--Generated=true-->
<resultMap id="ServiceProductResult" type="com.chinacreator.c2.qyb.workflow.module.entity.ServiceProduct">
	<id property="productId" column="product_id"/>
	<result property="productNo" column="product_no"/>
	<result property="productName" column="product_name"/>
	<result property="productDescribe" column="product_describe"/>
	<result property="serviceTypeId" column="service_type_id"/>
	<result property="groupId" column="group_id"/>
	<result property="wfProcessdefid" column="wf_processdefid"/>
	<result property="wfProcessstartUrl" column="wf_processstart_url"/>
	<result property="formId" column="form_id"/>
	<result property="ico" column="ico"/>
</resultMap>
<!--Generated=true-->
<resultMap id="UnderpinContractResult" type="com.chinacreator.c2.qyb.workflow.sla.entity.UnderpinContract">
	<id property="ucId" column="uc_id"/>
	<result property="ucName" column="uc_name"/>
	<result property="contractName" column="contract_name"/>
	<result property="supplierName" column="supplier_name"/>
	<result property="serviceValidStarttime" column="service_valid_starttime"/>
	<result property="serviceValidEndtime" column="service_valid_endtime"/>
	<result property="serviceTimeDayOfWeek" column="service_time_day_of_week"/>
	<result property="serviceTimeTimeOfDay" column="service_time_time_of_day"/>
	<result property="serviceType" column="service_type"/>
</resultMap>
</mapper>