<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.chinacreator.c2.qyb.workflow.form.entity.FormFieldRelMapper">	

<!-- ElementID:column_sql,Generated=true -->
<sql id="column_sql">
		  WORKFLOW_FORM_FIELD_REL.rel_id ,
		  WORKFLOW_FORM_FIELD_REL.categoty_id ,
		  WORKFLOW_FORM_FIELD_REL.rorder ,
		  WORKFLOW_FORM_FIELD_REL.rel_describe ,
		  WORKFLOW_FORM_FIELD_REL.display_span ,
		  WORKFLOW_FORM_FIELD_REL.label_width ,
		  WORKFLOW_FORM_FIELD_REL.display_name ,
		  WORKFLOW_FORM_FIELD_REL.position ,
		  WORKFLOW_FORM_FIELD_REL.dict_name ,
		  WORKFLOW_FORM_FIELD_REL.remark1 ,
		  WORKFLOW_FORM_FIELD_REL.remark2 ,
		  WORKFLOW_FORM_FIELD_REL.remark3 ,
		  WORKFLOW_FORM_FIELD_REL.remark4 ,
		  WORKFLOW_FORM_FIELD_REL.remark5 ,
		  WORKFLOW_FORM_FIELD_REL.remark6 ,
		  WORKFLOW_FORM_T1.form_id T1_form_id ,
		  WORKFLOW_FORM_T1.form_no T1_form_no ,
		  WORKFLOW_FORM_T1.form_name T1_form_name ,
		  WORKFLOW_FORM_T1.form_describe T1_form_describe ,
		  WORKFLOW_FORM_T1.is_table_storage T1_is_table_storage ,
		  WORKFLOW_FORM_T1.table_name T1_table_name ,
		  WORKFLOW_FORM_T1.remark1 T1_remark1 ,
		  WORKFLOW_FORM_T1.remark2 T1_remark2 ,
		  WORKFLOW_FORM_T1.remark3 T1_remark3 ,
		  WORKFLOW_FORM_T1.operate_bean T1_operate_bean ,
		  WORKFLOW_FORM_FIELD_T2.field_id T2_field_id ,
		  WORKFLOW_FORM_FIELD_T2.field_no T2_field_no ,
		  WORKFLOW_FORM_FIELD_T2.field_name T2_field_name ,
		  WORKFLOW_FORM_FIELD_T2.field_type T2_field_type ,
		  WORKFLOW_FORM_FIELD_T2.is_object T2_is_object ,
		  WORKFLOW_FORM_FIELD_T2.object_class T2_object_class ,
		  WORKFLOW_FORM_FIELD_T2.field_describe T2_field_describe ,
		  WORKFLOW_FORM_FIELD_T2.category_id T2_category_id ,
		  WORKFLOW_FORM_FIELD_T2.web_display_type_id T2_web_display_type_id ,
		  WORKFLOW_FORM_FIELD_T2.forder T2_forder ,
		  WORKFLOW_FORM_FIELD_T2.remark1 T2_remark1 ,
		  WORKFLOW_FORM_FIELD_T2.remark2 T2_remark2 ,
		  WORKFLOW_FORM_FIELD_T2.remark3 T2_remark3 ,
		  WORKFLOW_FORM_FIELD_T2.remark4 T2_remark4 ,
		  WORKFLOW_FORM_FIELD_T2.remark5 T2_remark5 ,
		  WORKFLOW_FORM_FIELD_T2.remark6 T2_remark6 ,
		  WORKFLOW_FORM_FIELD_T2.ramark7 T2_ramark7 ,
		  WORKFLOW_FORM_FIELD_T2.remark8 T2_remark8 ,
		  WORKFLOW_FORM_FIELD_T2.remark9 T2_remark9 ,
		  WORKFLOW_FORM_FIELD_T2.remark10 T2_remark10 ,
		  WORKFLOW_FORM_FIELD_T2.dict_name T2_dict_name ,
		  WORKFLOW_FORM_FIELD_T2.field_col_name T2_field_col_name ,
		  WORKFLOW_FORM_FIELD_T2.is_proc_var T2_is_proc_var ,
		  WORKFLOW_FORM_FIELD_T2.display_span T2_display_span ,
		  WORKFLOW_FORM_FIELD_T2.label_width T2_label_width 
</sql>

<!-- ElementID:whereClause_sql,Generated=true -->
<sql id="whereClause_sql">
	    <if test="relId != null">and WORKFLOW_FORM_FIELD_REL.rel_id = #{relId}</if>
	    <if test="categotyId != null">and WORKFLOW_FORM_FIELD_REL.categoty_id = #{categotyId}</if>
	    <if test="rorder != null">and WORKFLOW_FORM_FIELD_REL.rorder = #{rorder}</if>
	    <if test="relDescribe != null">and WORKFLOW_FORM_FIELD_REL.rel_describe = #{relDescribe}</if>
	    <if test="displaySpan != null">and WORKFLOW_FORM_FIELD_REL.display_span = #{displaySpan}</if>
	    <if test="labelWidth != null">and WORKFLOW_FORM_FIELD_REL.label_width = #{labelWidth}</if>
	    <if test="displayName != null">and WORKFLOW_FORM_FIELD_REL.display_name = #{displayName}</if>
	    <if test="position != null">and WORKFLOW_FORM_FIELD_REL.position = #{position}</if>
	    <if test="dictName != null">and WORKFLOW_FORM_FIELD_REL.dict_name = #{dictName}</if>
	    <if test="remark1 != null">and WORKFLOW_FORM_FIELD_REL.remark1 = #{remark1}</if>
	    <if test="remark2 != null">and WORKFLOW_FORM_FIELD_REL.remark2 = #{remark2}</if>
	    <if test="remark3 != null">and WORKFLOW_FORM_FIELD_REL.remark3 = #{remark3}</if>
	    <if test="remark4 != null">and WORKFLOW_FORM_FIELD_REL.remark4 = #{remark4}</if>
	    <if test="remark5 != null">and WORKFLOW_FORM_FIELD_REL.remark5 = #{remark5}</if>
	    <if test="remark6 != null">and WORKFLOW_FORM_FIELD_REL.remark6 = #{remark6}</if>
		<if test="formId != null and formId.formId !=null">and WORKFLOW_FORM_FIELD_REL.form_id = #{formId.formId}</if>
		<if test="fieldId != null and fieldId.fieldId !=null">and WORKFLOW_FORM_FIELD_REL.field_id = #{fieldId.fieldId}</if>
</sql>

<!-- ElementID:one2one_sql,Generated=true -->
<sql id="one2one_sql">
	     left outer join WORKFLOW_FORM WORKFLOW_FORM_T1 on WORKFLOW_FORM_FIELD_REL.form_id=WORKFLOW_FORM_T1.form_id
	     left outer join WORKFLOW_FORM_FIELD WORKFLOW_FORM_FIELD_T2 on WORKFLOW_FORM_FIELD_REL.field_id=WORKFLOW_FORM_FIELD_T2.field_id
</sql>

<!-- ElementID:FormResult,Generated=true -->
<resultMap id="FormResult" type="com.chinacreator.c2.qyb.workflow.form.entity.Form">
	<id property="formId" column="form_id"/>
	<result property="formNo" column="form_no"/>
	<result property="formName" column="form_name"/>
	<result property="formDescribe" column="form_describe"/>
	<result property="isTableStorage" column="is_table_storage"/>
	<result property="tableName" column="table_name"/>
	<result property="remark1" column="remark1"/>
	<result property="remark2" column="remark2"/>
	<result property="remark3" column="remark3"/>
	<result property="operateBean" column="operate_bean"/>
</resultMap>
<!-- ElementID:FormFieldResult,Generated=true -->
<resultMap id="FormFieldResult" type="com.chinacreator.c2.qyb.workflow.form.entity.FormField">
	<id property="fieldId" column="field_id"/>
	<result property="fieldNo" column="field_no"/>
	<result property="fieldName" column="field_name"/>
	<result property="fieldType" column="field_type"/>
	<result property="isObject" column="is_object"/>
	<result property="objectClass" column="object_class"/>
	<result property="fieldDescribe" column="field_describe"/>
	<result property="categoryId" column="category_id"/>
	<result property="webDisplayTypeId" column="web_display_type_id"/>
	<result property="forder" column="forder"/>
	<result property="remark1" column="remark1"/>
	<result property="remark2" column="remark2"/>
	<result property="remark3" column="remark3"/>
	<result property="remark4" column="remark4"/>
	<result property="remark5" column="remark5"/>
	<result property="remark6" column="remark6"/>
	<result property="ramark7" column="ramark7"/>
	<result property="remark8" column="remark8"/>
	<result property="remark9" column="remark9"/>
	<result property="remark10" column="remark10"/>
	<result property="dictName" column="dict_name"/>
	<result property="fieldColName" column="field_col_name"/>
	<result property="isProcVar" column="is_proc_var"/>
	<result property="displaySpan" column="display_span"/>
	<result property="labelWidth" column="label_width"/>
</resultMap>


<!-- ElementID:FormFieldRelResult,Generated=true -->
<resultMap id="FormFieldRelResult" type="com.chinacreator.c2.qyb.workflow.form.entity.FormFieldRel">
	<id property="relId" column="rel_id"/>
	<result property="categotyId" column="categoty_id"/>
	<result property="rorder" column="rorder"/>
	<result property="relDescribe" column="rel_describe"/>
	<result property="displaySpan" column="display_span"/>
	<result property="labelWidth" column="label_width"/>
	<result property="displayName" column="display_name"/>
	<result property="position" column="position"/>
	<result property="dictName" column="dict_name"/>
	<result property="remark1" column="remark1"/>
	<result property="remark2" column="remark2"/>
	<result property="remark3" column="remark3"/>
	<result property="remark4" column="remark4"/>
	<result property="remark5" column="remark5"/>
	<result property="remark6" column="remark6"/>
	<association property="formId" column="T1_form_id" javaType="com.chinacreator.c2.qyb.workflow.form.entity.Form" resultMap="FormResult" columnPrefix="T1_"/>	
	<association property="fieldId" column="T2_field_id" javaType="com.chinacreator.c2.qyb.workflow.form.entity.FormField" resultMap="FormFieldResult" columnPrefix="T2_"/>	
</resultMap>


<!-- ElementID:count,Generated=true -->
<select id="count" parameterType="com.chinacreator.c2.qyb.workflow.form.entity.FormFieldRel" resultType="int">
	select count(*) from WORKFLOW_FORM_FIELD_REL 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>

<!-- ElementID:update,Generated=true -->
<update id="update" parameterType="com.chinacreator.c2.qyb.workflow.form.entity.FormFieldRel">
	update WORKFLOW_FORM_FIELD_REL
<set>
	<if test="categotyId != null">categoty_id=#{categotyId,jdbcType=VARCHAR},</if>
	<if test="rorder != null">rorder=#{rorder,jdbcType=NUMERIC},</if>
	<if test="relDescribe != null">rel_describe=#{relDescribe,jdbcType=VARCHAR},</if>
	<if test="displaySpan != null">display_span=#{displaySpan,jdbcType=NUMERIC},</if>
	<if test="labelWidth != null">label_width=#{labelWidth,jdbcType=NUMERIC},</if>
	<if test="displayName != null">display_name=#{displayName,jdbcType=VARCHAR},</if>
	<if test="position != null">position=#{position,jdbcType=VARCHAR},</if>
	<if test="dictName != null">dict_name=#{dictName,jdbcType=VARCHAR},</if>
	<if test="remark1 != null">remark1=#{remark1,jdbcType=VARCHAR},</if>
	<if test="remark2 != null">remark2=#{remark2,jdbcType=VARCHAR},</if>
	<if test="remark3 != null">remark3=#{remark3,jdbcType=VARCHAR},</if>
	<if test="remark4 != null">remark4=#{remark4,jdbcType=VARCHAR},</if>
	<if test="remark5 != null">remark5=#{remark5,jdbcType=CHAR},</if>
	<if test="remark6 != null">remark6=#{remark6,jdbcType=NUMERIC},</if>
	<if test="formId != null and formId.formId !=null">form_id=#{formId.formId,jdbcType=VARCHAR},</if>
	<if test="fieldId != null and fieldId.fieldId !=null">field_id=#{fieldId.fieldId,jdbcType=VARCHAR}</if>
</set>
<where>
	<choose>
        <when test="relId != null">and rel_id = #{relId}</when>
        <otherwise>and rel_id = </otherwise>
    </choose>
</where>
</update>

<!-- ElementID:updateNull,Generated=true -->
<update id="updateNull" parameterType="map">
	update WORKFLOW_FORM_FIELD_REL
	<set>
		<trim suffixOverrides=",">
		    <if test="categotyId==null">categoty_id = null,</if>
		    <if test="rorder==null">rorder = null,</if>
		    <if test="relDescribe==null">rel_describe = null,</if>
		    <if test="displaySpan==null">display_span = null,</if>
		    <if test="labelWidth==null">label_width = null,</if>
		    <if test="displayName==null">display_name = null,</if>
		    <if test="position==null">position = null,</if>
		    <if test="dictName==null">dict_name = null,</if>
		    <if test="remark1==null">remark1 = null,</if>
		    <if test="remark2==null">remark2 = null,</if>
		    <if test="remark3==null">remark3 = null,</if>
		    <if test="remark4==null">remark4 = null,</if>
		    <if test="remark5==null">remark5 = null,</if>
		    <if test="remark6==null">remark6 = null,</if>
		    <if test="formId==null">form_id = null,</if>
		    <if test="fieldId==null">field_id = null,</if>
		</trim>
	</set>
	<where>
		<choose>
			<when test="relId != null">and rel_id = #{relId}</when>
			<otherwise>and rel_id = </otherwise>
		</choose>
	</where>
</update>

<!-- ElementID:delete,Generated=true -->
<delete id="delete" parameterType="com.chinacreator.c2.qyb.workflow.form.entity.FormFieldRel">
    delete from WORKFLOW_FORM_FIELD_REL where 1=1 and rel_id = #{relId}
</delete>

<!-- ElementID:select,Generated=false -->
<select id="select" parameterType="com.chinacreator.c2.qyb.workflow.form.entity.FormFieldRel" resultMap="FormFieldRelResult">
	select 
		<include refid="column_sql"/>
	    from WORKFLOW_FORM_FIELD_REL 
		<include refid="one2one_sql"/>
		 <where>
			<include refid="whereClause_sql_order"/>
		</where>
</select>

<!-- ElementID:whereClause_sql,Generated=false -->
<sql id="whereClause_sql_order">
		1=1
	    <if test="relId != null">and WORKFLOW_FORM_FIELD_REL.rel_id = #{relId}</if>
	    <if test="categotyId != null">and WORKFLOW_FORM_FIELD_REL.categoty_id = #{categotyId}</if>
	    <if test="rorder != null">and WORKFLOW_FORM_FIELD_REL.rorder = #{rorder}</if>
	    <if test="relDescribe != null">and WORKFLOW_FORM_FIELD_REL.rel_describe = #{relDescribe}</if>
	    <if test="displaySpan != null">and WORKFLOW_FORM_FIELD_REL.display_span = #{displaySpan}</if>
	    <if test="labelWidth != null">and WORKFLOW_FORM_FIELD_REL.label_width = #{labelWidth}</if>
	    <if test="displayName != null">and WORKFLOW_FORM_FIELD_REL.display_name = #{displayName}</if>
	    <if test="position != null">and WORKFLOW_FORM_FIELD_REL.position = #{position}</if>
	    <if test="dictName != null">and WORKFLOW_FORM_FIELD_REL.dict_name = #{dictName}</if>
	    <if test="remark1 != null">and WORKFLOW_FORM_FIELD_REL.remark1 = #{remark1}</if>
	    <if test="remark2 != null">and WORKFLOW_FORM_FIELD_REL.remark2 = #{remark2}</if>
	    <if test="remark3 != null">and WORKFLOW_FORM_FIELD_REL.remark3 = #{remark3}</if>
	    <if test="remark4 != null">and WORKFLOW_FORM_FIELD_REL.remark4 = #{remark4}</if>
	    <if test="remark5 != null">and WORKFLOW_FORM_FIELD_REL.remark5 = #{remark5}</if>
	    <if test="remark6 != null">and WORKFLOW_FORM_FIELD_REL.remark6 = #{remark6}</if>
		<if test="formId != null and formId.formId !=null">and WORKFLOW_FORM_FIELD_REL.form_id = #{formId.formId}</if>
		<if test="fieldId != null and fieldId.fieldId !=null">and WORKFLOW_FORM_FIELD_REL.field_id = #{fieldId.fieldId}</if>
		ORDER BY rorder asc
</sql>

<!-- ElementID:deleteBatch,Generated=true -->
<delete id="deleteBatch" parameterType="List">
	delete from WORKFLOW_FORM_FIELD_REL where rel_id in
<trim prefix="(" suffix=")" suffixOverrides=",">
<foreach collection="list" item="entity" separator=",">
	#{entity.relId}
</foreach>
</trim>
</delete>

<!-- ElementID:updateBatch,Generated=true -->
<update id="updateBatch" parameterType="list">
	<foreach collection="list" item="entity" open="begin" close=";end;" separator=";">
			update WORKFLOW_FORM_FIELD_REL
	<set>
	<if test="entity.categotyId != null">categoty_id= #{entity.categotyId,jdbcType=VARCHAR},</if>
	<if test="entity.rorder != null">rorder= #{entity.rorder,jdbcType=NUMERIC},</if>
	<if test="entity.relDescribe != null">rel_describe= #{entity.relDescribe,jdbcType=VARCHAR},</if>
	<if test="entity.displaySpan != null">display_span= #{entity.displaySpan,jdbcType=NUMERIC},</if>
	<if test="entity.labelWidth != null">label_width= #{entity.labelWidth,jdbcType=NUMERIC},</if>
	<if test="entity.displayName != null">display_name= #{entity.displayName,jdbcType=VARCHAR},</if>
	<if test="entity.position != null">position= #{entity.position,jdbcType=VARCHAR},</if>
	<if test="entity.dictName != null">dict_name= #{entity.dictName,jdbcType=VARCHAR},</if>
	<if test="entity.remark1 != null">remark1= #{entity.remark1,jdbcType=VARCHAR},</if>
	<if test="entity.remark2 != null">remark2= #{entity.remark2,jdbcType=VARCHAR},</if>
	<if test="entity.remark3 != null">remark3= #{entity.remark3,jdbcType=VARCHAR},</if>
	<if test="entity.remark4 != null">remark4= #{entity.remark4,jdbcType=VARCHAR},</if>
	<if test="entity.remark5 != null">remark5= #{entity.remark5,jdbcType=CHAR},</if>
	<if test="entity.remark6 != null">remark6= #{entity.remark6,jdbcType=NUMERIC},</if>
	<if test="entity.formId != null and entity.formId.formId !=null">form_id= #{entity.formId.formId,jdbcType=VARCHAR},</if>
	<if test="entity.fieldId != null and entity.fieldId.fieldId !=null">field_id= #{entity.fieldId.fieldId,jdbcType=VARCHAR}</if>
	</set>
		<where>
			<choose>
				<when test="entity.relId != null">and rel_id = #{entity.relId}</when>
				<otherwise>and rel_id = </otherwise>
			</choose>
		</where>
	</foreach>
</update>

<!-- ElementID:selectAll,Generated=true -->
<select id="selectAll" resultMap="FormFieldRelResult">
	select 
		<include refid="column_sql"/>
	    from WORKFLOW_FORM_FIELD_REL 
		<include refid="one2one_sql"/>
</select>

<!-- ElementID:selectMany,Generated=true -->
<select id="selectMany" parameterType="list" resultMap="FormFieldRelResult">
select 
	<include refid="column_sql"/> 
	from WORKFLOW_FORM_FIELD_REL 
	<include refid="one2one_sql"/>
	where WORKFLOW_FORM_FIELD_REL.rel_id in (
<foreach collection="list" item="entity" separator="intersect">
		select 
		WORKFLOW_FORM_FIELD_REL.rel_id
	    from WORKFLOW_FORM_FIELD_REL 
		 <where>
	        <if test="entity.relId != null">and WORKFLOW_FORM_FIELD_REL.rel_id = #{entity.relId}</if>
	        <if test="entity.categotyId != null">and WORKFLOW_FORM_FIELD_REL.categoty_id = #{entity.categotyId}</if>
	        <if test="entity.rorder != null">and WORKFLOW_FORM_FIELD_REL.rorder = #{entity.rorder}</if>
	        <if test="entity.relDescribe != null">and WORKFLOW_FORM_FIELD_REL.rel_describe = #{entity.relDescribe}</if>
	        <if test="entity.displaySpan != null">and WORKFLOW_FORM_FIELD_REL.display_span = #{entity.displaySpan}</if>
	        <if test="entity.labelWidth != null">and WORKFLOW_FORM_FIELD_REL.label_width = #{entity.labelWidth}</if>
	        <if test="entity.displayName != null">and WORKFLOW_FORM_FIELD_REL.display_name = #{entity.displayName}</if>
	        <if test="entity.position != null">and WORKFLOW_FORM_FIELD_REL.position = #{entity.position}</if>
	        <if test="entity.dictName != null">and WORKFLOW_FORM_FIELD_REL.dict_name = #{entity.dictName}</if>
	        <if test="entity.remark1 != null">and WORKFLOW_FORM_FIELD_REL.remark1 = #{entity.remark1}</if>
	        <if test="entity.remark2 != null">and WORKFLOW_FORM_FIELD_REL.remark2 = #{entity.remark2}</if>
	        <if test="entity.remark3 != null">and WORKFLOW_FORM_FIELD_REL.remark3 = #{entity.remark3}</if>
	        <if test="entity.remark4 != null">and WORKFLOW_FORM_FIELD_REL.remark4 = #{entity.remark4}</if>
	        <if test="entity.remark5 != null">and WORKFLOW_FORM_FIELD_REL.remark5 = #{entity.remark5}</if>
	        <if test="entity.remark6 != null">and WORKFLOW_FORM_FIELD_REL.remark6 = #{entity.remark6}</if>
		</where>
</foreach>
)
</select>

<!-- ElementID:selectByID,Generated=true -->
<select id="selectByID" parameterType="java.lang.String" resultMap="FormFieldRelResult">
	select 
		<include refid="column_sql"/>
	    from WORKFLOW_FORM_FIELD_REL 
		<include refid="one2one_sql"/>
		 where WORKFLOW_FORM_FIELD_REL.rel_id = #{relId,jdbcType=VARCHAR}
</select>

<!-- ElementID:selectByPage,Generated=false -->
<select id="selectByPage" parameterType="com.chinacreator.c2.qyb.workflow.form.entity.FormFieldRel" resultMap="FormFieldRelResult">
	select 
		<include refid="column_sql"/>
	    from WORKFLOW_FORM_FIELD_REL 
		<include refid="one2one_sql"/>
		 <where>
			<include refid="whereClause_sql_order"/>
		</where>
</select>


<!-- ElementID:insert,Generated=true -->
<insert id="insert" parameterType="com.chinacreator.c2.qyb.workflow.form.entity.FormFieldRel">
	insert into WORKFLOW_FORM_FIELD_REL(
	         <if test="relId != null">rel_id</if>
	         <if test="categotyId != null">,categoty_id</if>
	         <if test="rorder != null">,rorder</if>
	         <if test="relDescribe != null">,rel_describe</if>
	         <if test="displaySpan != null">,display_span</if>
	         <if test="labelWidth != null">,label_width</if>
	         <if test="displayName != null">,display_name</if>
	         <if test="position != null">,position</if>
	         <if test="dictName != null">,dict_name</if>
	         <if test="remark1 != null">,remark1</if>
	         <if test="remark2 != null">,remark2</if>
	         <if test="remark3 != null">,remark3</if>
	         <if test="remark4 != null">,remark4</if>
	         <if test="remark5 != null">,remark5</if>
	         <if test="remark6 != null">,remark6</if>
	 	 	 <if test="formId != null and formId.formId !=null">,form_id</if>
	 	 <if test="fieldId != null and fieldId.fieldId !=null">,field_id</if>
	 	 )
	 values (
	         <if test="relId != null">#{relId,jdbcType=VARCHAR}</if>
	         <if test="categotyId != null">,#{categotyId,jdbcType=VARCHAR}</if>
	         <if test="rorder != null">,#{rorder,jdbcType=NUMERIC}</if>
	         <if test="relDescribe != null">,#{relDescribe,jdbcType=VARCHAR}</if>
	         <if test="displaySpan != null">,#{displaySpan,jdbcType=NUMERIC}</if>
	         <if test="labelWidth != null">,#{labelWidth,jdbcType=NUMERIC}</if>
	         <if test="displayName != null">,#{displayName,jdbcType=VARCHAR}</if>
	         <if test="position != null">,#{position,jdbcType=VARCHAR}</if>
	         <if test="dictName != null">,#{dictName,jdbcType=VARCHAR}</if>
	         <if test="remark1 != null">,#{remark1,jdbcType=VARCHAR}</if>
	         <if test="remark2 != null">,#{remark2,jdbcType=VARCHAR}</if>
	         <if test="remark3 != null">,#{remark3,jdbcType=VARCHAR}</if>
	         <if test="remark4 != null">,#{remark4,jdbcType=VARCHAR}</if>
	         <if test="remark5 != null">,#{remark5,jdbcType=CHAR}</if>
	         <if test="remark6 != null">,#{remark6,jdbcType=NUMERIC}</if>
	 	 	 <if test="formId != null and formId.formId !=null">,#{formId.formId,jdbcType=VARCHAR}</if>
	 	 <if test="fieldId != null and fieldId.fieldId !=null">,#{fieldId.fieldId,jdbcType=VARCHAR}</if>
	 	 )
</insert>

<!-- ElementID:insertBatch,Generated=true -->
<insert id="insertBatch" parameterType="list">
	insert into WORKFLOW_FORM_FIELD_REL (rel_id,categoty_id,rorder,rel_describe,display_span,label_width,display_name,position,dict_name,remark1,remark2,remark3,remark4,remark5,remark6,form_id,field_id) 
<foreach collection="list" item="entity" index="index" separator="union all">
		select 
		#{entity.relId,jdbcType = VARCHAR},
				#{entity.categotyId,jdbcType = VARCHAR},
				#{entity.rorder,jdbcType = NUMERIC},
				#{entity.relDescribe,jdbcType = VARCHAR},
				#{entity.displaySpan,jdbcType = NUMERIC},
				#{entity.labelWidth,jdbcType = NUMERIC},
				#{entity.displayName,jdbcType = VARCHAR},
				#{entity.position,jdbcType = VARCHAR},
				#{entity.dictName,jdbcType = VARCHAR},
				#{entity.remark1,jdbcType = VARCHAR},
				#{entity.remark2,jdbcType = VARCHAR},
				#{entity.remark3,jdbcType = VARCHAR},
				#{entity.remark4,jdbcType = VARCHAR},
				#{entity.remark5,jdbcType = CHAR},
				#{entity.remark6,jdbcType = NUMERIC},
						 #{entity.formId.formId,jdbcType=VARCHAR},				 #{entity.fieldId.fieldId,jdbcType=VARCHAR}
		from dual
</foreach>
</insert>

</mapper>