<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.chinacreator.c2.omp.service.manage.workflowcommon.FormFieldValueMapper">	

<!-- ElementID:column_sql,Generated=true -->
<sql id="column_sql">
		  WORKFLOW_FORM_FIELD_VALUE.id ,
		  WORKFLOW_FORM_FIELD_VALUE.form_business_key ,
		  WORKFLOW_FORM_FIELD_VALUE.field_value ,
		  WORKFLOW_FORM_FIELD_VALUE.field_value_int ,
		  WORKFLOW_FORM_FIELD_VALUE.field_value_timestamp ,
		  WORKFLOW_FORM_T1.form_id T1_form_id ,
		  WORKFLOW_FORM_T1.form_no T1_form_no ,
		  WORKFLOW_FORM_T1.form_name T1_form_name ,
		  WORKFLOW_FORM_T1.form_describe T1_form_describe ,
		  WORKFLOW_FORM_T1.is_table_storage T1_is_table_storage ,
		  WORKFLOW_FORM_T1.table_name T1_table_name ,
		  WORKFLOW_FORM_T1.remark1 T1_remark1 ,
		  WORKFLOW_FORM_T1.remark2 T1_remark2 ,
		  WORKFLOW_FORM_T1.remark3 T1_remark3 ,
		  WORKFLOW_FORM_FIELD_T2.field_id T2_field_id ,
		  WORKFLOW_FORM_FIELD_T2.field_no T2_field_no ,
		  WORKFLOW_FORM_FIELD_T2.field_name T2_field_name ,
		  WORKFLOW_FORM_FIELD_T2.field_type T2_field_type ,
		  WORKFLOW_FORM_FIELD_T2.is_object T2_is_object ,
		  WORKFLOW_FORM_FIELD_T2.object_class T2_object_class ,
		  WORKFLOW_FORM_FIELD_T2.field_describe T2_field_describe ,
		  WORKFLOW_FORM_FIELD_T2.category_id T2_category_id ,
		  WORKFLOW_FORM_FIELD_T2.web_display_type_id T2_web_display_type_id ,
		  WORKFLOW_FORM_FIELD_T2.forder T2_forder ,
		  WORKFLOW_FORM_FIELD_T2.remark1 T2_remark1 ,
		  WORKFLOW_FORM_FIELD_T2.remark2 T2_remark2 ,
		  WORKFLOW_FORM_FIELD_T2.remark3 T2_remark3 ,
		  WORKFLOW_FORM_FIELD_T2.remark4 T2_remark4 ,
		  WORKFLOW_FORM_FIELD_T2.remark5 T2_remark5 ,
		  WORKFLOW_FORM_FIELD_T2.remark6 T2_remark6 ,
		  WORKFLOW_FORM_FIELD_T2.ramark7 T2_ramark7 ,
		  WORKFLOW_FORM_FIELD_T2.remark8 T2_remark8 ,
		  WORKFLOW_FORM_FIELD_T2.remark9 T2_remark9 ,
		  WORKFLOW_FORM_FIELD_T2.remark10 T2_remark10 
</sql>

<!-- ElementID:whereClause_sql,Generated=true -->
<sql id="whereClause_sql">
	    <if test="id != null">and WORKFLOW_FORM_FIELD_VALUE.id = #{id}</if>
	    <if test="formBusinessKey != null">and WORKFLOW_FORM_FIELD_VALUE.form_business_key = #{formBusinessKey}</if>
	    <if test="fieldValue != null">and WORKFLOW_FORM_FIELD_VALUE.field_value = #{fieldValue}</if>
	    <if test="fieldValueInt != null">and WORKFLOW_FORM_FIELD_VALUE.field_value_int = #{fieldValueInt}</if>
	    <if test="fieldValueTimestamp != null">and WORKFLOW_FORM_FIELD_VALUE.field_value_timestamp = #{fieldValueTimestamp}</if>
		<if test="formId != null and formId.formId !=null">and WORKFLOW_FORM_FIELD_VALUE.form_id = #{formId.formId}</if>
		<if test="fieldId != null and fieldId.fieldId !=null">and WORKFLOW_FORM_FIELD_VALUE.field_id = #{fieldId.fieldId}</if>
</sql>


<!-- ElementID:FormFieldValueResult,Generated=true -->
<resultMap id="FormFieldValueResult" type="com.chinacreator.c2.omp.service.manage.workflowcommon.FormFieldValue">
	<id property="id" column="id"/>
	<result property="formBusinessKey" column="form_business_key"/>
	<result property="fieldValue" column="field_value"/>
	<result property="fieldValueInt" column="field_value_int"/>
	<result property="fieldValueTimestamp" column="field_value_timestamp"/>
	<association property="formId" column="T1_form_id" javaType="com.chinacreator.c2.omp.service.manage.workflowcommon.Form" resultMap="FormResult" columnPrefix="T1_"/>	
	<association property="fieldId" column="T2_field_id" javaType="com.chinacreator.c2.omp.service.manage.workflowcommon.FormField" resultMap="FormFieldResult" columnPrefix="T2_"/>	
</resultMap>


<!-- ElementName:cache,Generated=true -->
<cache/>

<!-- ElementID:insert,Generated=true -->
<insert id="insert" parameterType="com.chinacreator.c2.omp.service.manage.workflowcommon.FormFieldValue">
	insert into WORKFLOW_FORM_FIELD_VALUE(
	         <if test="id != null">id</if>
	         <if test="formBusinessKey != null">,form_business_key</if>
	         <if test="fieldValue != null">,field_value</if>
	         <if test="fieldValueInt != null">,field_value_int</if>
	         <if test="fieldValueTimestamp != null">,field_value_timestamp</if>
	 	 	 <if test="formId != null and formId.formId !=null">,form_id</if>
	 	 <if test="fieldId != null and fieldId.fieldId !=null">,field_id</if>
	 	 )
	 values (
	         <if test="id != null">#{id,jdbcType=VARCHAR}</if>
	         <if test="formBusinessKey != null">,#{formBusinessKey,jdbcType=VARCHAR}</if>
	         <if test="fieldValue != null">,#{fieldValue,jdbcType=VARCHAR}</if>
	         <if test="fieldValueInt != null">,#{fieldValueInt,jdbcType=NUMERIC}</if>
	         <if test="fieldValueTimestamp != null">,#{fieldValueTimestamp,jdbcType=DATE}</if>
	 	 	 <if test="formId != null and formId.formId !=null">,#{formId.formId,jdbcType=VARCHAR}</if>
	 	 <if test="fieldId != null and fieldId.fieldId !=null">,#{fieldId.fieldId,jdbcType=VARCHAR}</if>
	 	 )
</insert>

<!-- ElementID:count,Generated=true -->
<select id="count" parameterType="com.chinacreator.c2.omp.service.manage.workflowcommon.FormFieldValue" resultType="int">
	select count(*) from WORKFLOW_FORM_FIELD_VALUE 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>

<!-- ElementID:update,Generated=true -->
<update id="update" parameterType="com.chinacreator.c2.omp.service.manage.workflowcommon.FormFieldValue">
	update WORKFLOW_FORM_FIELD_VALUE
<set>
	<if test="formBusinessKey != null">form_business_key=#{formBusinessKey,jdbcType=VARCHAR},</if>
	<if test="fieldValue != null">field_value=#{fieldValue,jdbcType=VARCHAR},</if>
	<if test="fieldValueInt != null">field_value_int=#{fieldValueInt,jdbcType=NUMERIC},</if>
	<if test="fieldValueTimestamp != null">field_value_timestamp=#{fieldValueTimestamp,jdbcType=DATE},</if>
	<if test="formId != null and formId.formId !=null">form_id=#{formId.formId,jdbcType=VARCHAR},</if>
	<if test="fieldId != null and fieldId.fieldId !=null">field_id=#{fieldId.fieldId,jdbcType=VARCHAR}</if>
</set>
<where>
	<choose>
        <when test="id != null">and id = #{id}</when>
        <otherwise>and id = </otherwise>
    </choose>
</where>
</update>

<!-- ElementID:updateNull,Generated=true -->
<update id="updateNull" parameterType="map">
	update WORKFLOW_FORM_FIELD_VALUE
	<set>
		<trim suffixOverrides=",">
		    <if test="formBusinessKey==null">form_business_key = null,</if>
		    <if test="fieldValue==null">field_value = null,</if>
		    <if test="fieldValueInt==null">field_value_int = null,</if>
		    <if test="fieldValueTimestamp==null">field_value_timestamp = null,</if>
		    <if test="formId==null">form_id = null,</if>
		    <if test="fieldId==null">field_id = null,</if>
		</trim>
	</set>
	<where>
		<choose>
			<when test="id != null">and id = #{id}</when>
			<otherwise>and id = </otherwise>
		</choose>
	</where>
</update>

<!-- ElementID:delete,Generated=true -->
<delete id="delete" parameterType="com.chinacreator.c2.omp.service.manage.workflowcommon.FormFieldValue">
    delete from WORKFLOW_FORM_FIELD_VALUE where 1=1 and id = #{id}
</delete>

<!-- ElementID:select,Generated=true -->
<select id="select" parameterType="com.chinacreator.c2.omp.service.manage.workflowcommon.FormFieldValue" resultMap="FormFieldValueResult">
	select 
		<include refid="column_sql"/>
	    from WORKFLOW_FORM_FIELD_VALUE 
		<include refid="one2one_sql"/>
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>


<!-- ElementID:insertBatch,Generated=true -->
<insert id="insertBatch" parameterType="list">
	insert into WORKFLOW_FORM_FIELD_VALUE (id,form_business_key,field_value,field_value_int,field_value_timestamp,form_id,field_id) 
<foreach collection="list" item="entity" index="index" separator="union all">
		select 
		#{entity.id,jdbcType = VARCHAR},
				#{entity.formBusinessKey,jdbcType = VARCHAR},
				#{entity.fieldValue,jdbcType = VARCHAR},
				#{entity.fieldValueInt,jdbcType = NUMERIC},
				#{entity.fieldValueTimestamp,jdbcType = DATE},
						 #{entity.formId.formId,jdbcType=VARCHAR},				 #{entity.fieldId.fieldId,jdbcType=VARCHAR}
		from dual
</foreach>
</insert>

<!-- ElementID:deleteBatch,Generated=true -->
<delete id="deleteBatch" parameterType="List">
	delete from WORKFLOW_FORM_FIELD_VALUE where id in
<trim prefix="(" suffix=")" suffixOverrides=",">
<foreach collection="list" item="entity" separator=",">
	#{entity.id}
</foreach>
</trim>
</delete>

<!-- ElementID:selectAll,Generated=true -->
<select id="selectAll" resultMap="FormFieldValueResult">
	select 
		<include refid="column_sql"/>
	    from WORKFLOW_FORM_FIELD_VALUE 
		<include refid="one2one_sql"/>
</select>

<!-- ElementID:selectByID,Generated=true -->
<select id="selectByID" parameterType="java.lang.String" resultMap="FormFieldValueResult">
	select 
		<include refid="column_sql"/>
	    from WORKFLOW_FORM_FIELD_VALUE 
		<include refid="one2one_sql"/>
		 where WORKFLOW_FORM_FIELD_VALUE.id = #{id,jdbcType=VARCHAR}
</select>

<!-- ElementID:selectByPage,Generated=true -->
<select id="selectByPage" parameterType="com.chinacreator.c2.omp.service.manage.workflowcommon.FormFieldValue" resultMap="FormFieldValueResult">
	select 
		<include refid="column_sql"/>
	    from WORKFLOW_FORM_FIELD_VALUE 
		<include refid="one2one_sql"/>
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>


<!-- ElementID:selectMany,Generated=true -->
<select id="selectMany" parameterType="list" resultMap="FormFieldValueResult">
select 
	<include refid="column_sql"/> 
	from WORKFLOW_FORM_FIELD_VALUE 
	<include refid="one2one_sql"/>
	where WORKFLOW_FORM_FIELD_VALUE.id in (
<foreach collection="list" item="entity" separator="intersect">
		select 
		WORKFLOW_FORM_FIELD_VALUE.id
	    from WORKFLOW_FORM_FIELD_VALUE 
		 <where>
	        <if test="entity.id != null">and WORKFLOW_FORM_FIELD_VALUE.id = #{entity.id}</if>
	        <if test="entity.formBusinessKey != null">and WORKFLOW_FORM_FIELD_VALUE.form_business_key = #{entity.formBusinessKey}</if>
	        <if test="entity.fieldValue != null">and WORKFLOW_FORM_FIELD_VALUE.field_value = #{entity.fieldValue}</if>
	        <if test="entity.fieldValueInt != null">and WORKFLOW_FORM_FIELD_VALUE.field_value_int = #{entity.fieldValueInt}</if>
	        <if test="entity.fieldValueTimestamp != null">and WORKFLOW_FORM_FIELD_VALUE.field_value_timestamp = #{entity.fieldValueTimestamp}</if>
		</where>
</foreach>
)
</select>






<!--Generated=true-->
<sql id="one2one_sql">
	     left outer join WORKFLOW_FORM WORKFLOW_FORM_T1 on WORKFLOW_FORM_FIELD_VALUE.form_id=WORKFLOW_FORM_T1.form_id
	     left outer join WORKFLOW_FORM_FIELD WORKFLOW_FORM_FIELD_T2 on WORKFLOW_FORM_FIELD_VALUE.field_id=WORKFLOW_FORM_FIELD_T2.field_id
</sql>
<!--Generated=true-->
<resultMap id="FormResult" type="com.chinacreator.c2.omp.service.manage.workflowcommon.Form">
	<id property="formId" column="form_id"/>
	<result property="formNo" column="form_no"/>
	<result property="formName" column="form_name"/>
	<result property="formDescribe" column="form_describe"/>
	<result property="isTableStorage" column="is_table_storage"/>
	<result property="tableName" column="table_name"/>
	<result property="remark1" column="remark1"/>
	<result property="remark2" column="remark2"/>
	<result property="remark3" column="remark3"/>
</resultMap>
<!--Generated=true-->
<resultMap id="FormFieldResult" type="com.chinacreator.c2.omp.service.manage.workflowcommon.FormField">
	<id property="fieldId" column="field_id"/>
	<result property="fieldNo" column="field_no"/>
	<result property="fieldName" column="field_name"/>
	<result property="fieldType" column="field_type"/>
	<result property="isObject" column="is_object"/>
	<result property="objectClass" column="object_class"/>
	<result property="fieldDescribe" column="field_describe"/>
	<result property="categoryId" column="category_id"/>
	<result property="webDisplayTypeId" column="web_display_type_id"/>
	<result property="forder" column="forder"/>
	<result property="remark1" column="remark1"/>
	<result property="remark2" column="remark2"/>
	<result property="remark3" column="remark3"/>
	<result property="remark4" column="remark4"/>
	<result property="remark5" column="remark5"/>
	<result property="remark6" column="remark6"/>
	<result property="ramark7" column="ramark7"/>
	<result property="remark8" column="remark8"/>
	<result property="remark9" column="remark9"/>
	<result property="remark10" column="remark10"/>
</resultMap>
<!--Generated=true-->
<update id="updateBatch" parameterType="list">
	<foreach collection="list" item="entity" open="begin" close=";end;" separator=";">
			update WORKFLOW_FORM_FIELD_VALUE
	<set>
	<if test="entity.formBusinessKey != null">form_business_key= #{entity.formBusinessKey,jdbcType=VARCHAR},</if>
	<if test="entity.fieldValue != null">field_value= #{entity.fieldValue,jdbcType=VARCHAR},</if>
	<if test="entity.fieldValueInt != null">field_value_int= #{entity.fieldValueInt,jdbcType=NUMERIC},</if>
	<if test="entity.fieldValueTimestamp != null">field_value_timestamp= #{entity.fieldValueTimestamp,jdbcType=DATE},</if>
	<if test="entity.formId != null and entity.formId.formId !=null">form_id= #{entity.formId.formId,jdbcType=VARCHAR},</if>
	<if test="entity.fieldId != null and entity.fieldId.fieldId !=null">field_id= #{entity.fieldId.fieldId,jdbcType=VARCHAR}</if>
	</set>
		<where>
			<choose>
				<when test="entity.id != null">and id = #{entity.id}</when>
				<otherwise>and id = </otherwise>
			</choose>
		</where>
	</foreach>
</update>
</mapper>