<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.chinacreator.c2.omp.service.manage.workflowcommon.Inform.ActivityConfigMapper">	

<!-- ElementID:column_sql,Generated=true -->
<sql id="column_sql">
		  WORKFLOW_ACTIVITY_SETTING.id ,
		  WORKFLOW_ACTIVITY_SETTING.module_id ,
		  WORKFLOW_ACTIVITY_SETTING.task_def_id ,
		  WORKFLOW_ACTIVITY_SETTING.action ,
		  WORKFLOW_ACTIVITY_SETTING.inform_type ,
		  WORKFLOW_ACTIVITY_SETTING.needclaim ,
		  WORKFLOW_ACTIVITY_SETTING.is_sla_time ,
		  WORKFLOW_ACTIVITY_SETTING.include_tabs ,
		  WORKFLOW_ACTIVITY_SETTING.include_actions ,
		  WORKFLOW_ACTIVITY_SETTING.return_activity ,
		  WORKFLOW_ACTIVITY_SETTING.freechoose_url ,
		  WORKFLOW_ACTIVITY_SETTING.remark1 ,
		  WORKFLOW_ACTIVITY_SETTING.remark2 ,
		  WORKFLOW_ACTIVITY_SETTING.remark3 ,
		  WORKFLOW_ACTIVITY_SETTING.remark4 
</sql>

<!-- ElementID:whereClause_sql,Generated=true -->
<sql id="whereClause_sql">
	    <if test="id != null">and WORKFLOW_ACTIVITY_SETTING.id = #{id}</if>
	    <if test="moduleId != null">and WORKFLOW_ACTIVITY_SETTING.module_id = #{moduleId}</if>
	    <if test="taskDefId != null">and WORKFLOW_ACTIVITY_SETTING.task_def_id = #{taskDefId}</if>
	    <if test="action != null">and WORKFLOW_ACTIVITY_SETTING.action = #{action}</if>
	    <if test="informType != null">and WORKFLOW_ACTIVITY_SETTING.inform_type = #{informType}</if>
	    <if test="needclaim != null">and WORKFLOW_ACTIVITY_SETTING.needclaim = #{needclaim}</if>
	    <if test="isSlaTime != null">and WORKFLOW_ACTIVITY_SETTING.is_sla_time = #{isSlaTime}</if>
	    <if test="includeTabs != null">and WORKFLOW_ACTIVITY_SETTING.include_tabs = #{includeTabs}</if>
	    <if test="includeActions != null">and WORKFLOW_ACTIVITY_SETTING.include_actions = #{includeActions}</if>
	    <if test="returnActivity != null">and WORKFLOW_ACTIVITY_SETTING.return_activity = #{returnActivity}</if>
	    <if test="freechooseUrl != null">and WORKFLOW_ACTIVITY_SETTING.freechoose_url = #{freechooseUrl}</if>
	    <if test="remark1 != null">and WORKFLOW_ACTIVITY_SETTING.remark1 = #{remark1}</if>
	    <if test="remark2 != null">and WORKFLOW_ACTIVITY_SETTING.remark2 = #{remark2}</if>
	    <if test="remark3 != null">and WORKFLOW_ACTIVITY_SETTING.remark3 = #{remark3}</if>
	    <if test="remark4 != null">and WORKFLOW_ACTIVITY_SETTING.remark4 = #{remark4}</if>
</sql>


<!-- ElementID:ActivityConfigResult,Generated=true -->
<resultMap id="ActivityConfigResult" type="com.chinacreator.c2.omp.service.manage.workflowcommon.Inform.ActivityConfig">
	<id property="id" column="id"/>
	<result property="moduleId" column="module_id"/>
	<result property="taskDefId" column="task_def_id"/>
	<result property="action" column="action"/>
	<result property="informType" column="inform_type"/>
	<result property="needclaim" column="needclaim"/>
	<result property="isSlaTime" column="is_sla_time"/>
	<result property="includeTabs" column="include_tabs"/>
	<result property="includeActions" column="include_actions"/>
	<result property="returnActivity" column="return_activity"/>
	<result property="freechooseUrl" column="freechoose_url"/>
	<result property="remark1" column="remark1"/>
	<result property="remark2" column="remark2"/>
	<result property="remark3" column="remark3"/>
	<result property="remark4" column="remark4"/>
</resultMap>


<!-- ElementName:cache,Generated=true -->
<cache/>

<!-- ElementID:insert,Generated=true -->
<insert id="insert" parameterType="com.chinacreator.c2.omp.service.manage.workflowcommon.Inform.ActivityConfig">
	insert into WORKFLOW_ACTIVITY_SETTING(
	         <if test="id != null">id</if>
	         <if test="moduleId != null">,module_id</if>
	         <if test="taskDefId != null">,task_def_id</if>
	         <if test="action != null">,action</if>
	         <if test="informType != null">,inform_type</if>
	         <if test="needclaim != null">,needclaim</if>
	         <if test="isSlaTime != null">,is_sla_time</if>
	         <if test="includeTabs != null">,include_tabs</if>
	         <if test="includeActions != null">,include_actions</if>
	         <if test="returnActivity != null">,return_activity</if>
	         <if test="freechooseUrl != null">,freechoose_url</if>
	         <if test="remark1 != null">,remark1</if>
	         <if test="remark2 != null">,remark2</if>
	         <if test="remark3 != null">,remark3</if>
	         <if test="remark4 != null">,remark4</if>
	 	 	 )
	 values (
	         <if test="id != null">#{id,jdbcType=VARCHAR}</if>
	         <if test="moduleId != null">,#{moduleId,jdbcType=VARCHAR}</if>
	         <if test="taskDefId != null">,#{taskDefId,jdbcType=VARCHAR}</if>
	         <if test="action != null">,#{action,jdbcType=VARCHAR}</if>
	         <if test="informType != null">,#{informType,jdbcType=VARCHAR}</if>
	         <if test="needclaim != null">,#{needclaim,jdbcType=CHAR}</if>
	         <if test="isSlaTime != null">,#{isSlaTime,jdbcType=CHAR}</if>
	         <if test="includeTabs != null">,#{includeTabs,jdbcType=VARCHAR}</if>
	         <if test="includeActions != null">,#{includeActions,jdbcType=VARCHAR}</if>
	         <if test="returnActivity != null">,#{returnActivity,jdbcType=VARCHAR}</if>
	         <if test="freechooseUrl != null">,#{freechooseUrl,jdbcType=VARCHAR}</if>
	         <if test="remark1 != null">,#{remark1,jdbcType=VARCHAR}</if>
	         <if test="remark2 != null">,#{remark2,jdbcType=VARCHAR}</if>
	         <if test="remark3 != null">,#{remark3,jdbcType=CHAR}</if>
	         <if test="remark4 != null">,#{remark4,jdbcType=NUMERIC}</if>
	 	 	 )
</insert>

<!-- ElementID:count,Generated=true -->
<select id="count" parameterType="com.chinacreator.c2.omp.service.manage.workflowcommon.Inform.ActivityConfig" resultType="int">
	select count(*) from WORKFLOW_ACTIVITY_SETTING 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>

<!-- ElementID:update,Generated=true -->
<update id="update" parameterType="com.chinacreator.c2.omp.service.manage.workflowcommon.Inform.ActivityConfig">
	update WORKFLOW_ACTIVITY_SETTING
<set>
	<if test="moduleId != null">module_id=#{moduleId,jdbcType=VARCHAR},</if>
	<if test="taskDefId != null">task_def_id=#{taskDefId,jdbcType=VARCHAR},</if>
	<if test="action != null">action=#{action,jdbcType=VARCHAR},</if>
	<if test="informType != null">inform_type=#{informType,jdbcType=VARCHAR},</if>
	<if test="needclaim != null">needclaim=#{needclaim,jdbcType=CHAR},</if>
	<if test="isSlaTime != null">is_sla_time=#{isSlaTime,jdbcType=CHAR},</if>
	<if test="includeTabs != null">include_tabs=#{includeTabs,jdbcType=VARCHAR},</if>
	<if test="includeActions != null">include_actions=#{includeActions,jdbcType=VARCHAR},</if>
	<if test="returnActivity != null">return_activity=#{returnActivity,jdbcType=VARCHAR},</if>
	<if test="freechooseUrl != null">freechoose_url=#{freechooseUrl,jdbcType=VARCHAR},</if>
	<if test="remark1 != null">remark1=#{remark1,jdbcType=VARCHAR},</if>
	<if test="remark2 != null">remark2=#{remark2,jdbcType=VARCHAR},</if>
	<if test="remark3 != null">remark3=#{remark3,jdbcType=CHAR},</if>
	<if test="remark4 != null">remark4=#{remark4,jdbcType=NUMERIC}</if>
</set>
<where>
	<choose>
        <when test="id != null">and id = #{id}</when>
        <otherwise>and id = </otherwise>
    </choose>
</where>
</update>

<!-- ElementID:updateNull,Generated=true -->
<update id="updateNull" parameterType="map">
	update WORKFLOW_ACTIVITY_SETTING
	<set>
		<trim suffixOverrides=",">
		    <if test="moduleId==null">module_id = null,</if>
		    <if test="taskDefId==null">task_def_id = null,</if>
		    <if test="action==null">action = null,</if>
		    <if test="informType==null">inform_type = null,</if>
		    <if test="needclaim==null">needclaim = null,</if>
		    <if test="isSlaTime==null">is_sla_time = null,</if>
		    <if test="includeTabs==null">include_tabs = null,</if>
		    <if test="includeActions==null">include_actions = null,</if>
		    <if test="returnActivity==null">return_activity = null,</if>
		    <if test="freechooseUrl==null">freechoose_url = null,</if>
		    <if test="remark1==null">remark1 = null,</if>
		    <if test="remark2==null">remark2 = null,</if>
		    <if test="remark3==null">remark3 = null,</if>
		    <if test="remark4==null">remark4 = null,</if>
		</trim>
	</set>
	<where>
		<choose>
			<when test="id != null">and id = #{id}</when>
			<otherwise>and id = </otherwise>
		</choose>
	</where>
</update>

<!-- ElementID:delete,Generated=true -->
<delete id="delete" parameterType="com.chinacreator.c2.omp.service.manage.workflowcommon.Inform.ActivityConfig">
    delete from WORKFLOW_ACTIVITY_SETTING where 1=1 and id = #{id}
</delete>

<!-- ElementID:select,Generated=true -->
<select id="select" parameterType="com.chinacreator.c2.omp.service.manage.workflowcommon.Inform.ActivityConfig" resultMap="ActivityConfigResult">
	select 
		<include refid="column_sql"/>
	    from WORKFLOW_ACTIVITY_SETTING 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>


<!-- ElementID:insertBatch,Generated=true -->
<insert id="insertBatch" parameterType="list">
	insert into WORKFLOW_ACTIVITY_SETTING (id,module_id,task_def_id,action,inform_type,needclaim,is_sla_time,include_tabs,include_actions,return_activity,freechoose_url,remark1,remark2,remark3,remark4) 
<foreach collection="list" item="entity" index="index" separator="union all">
		select 
		#{entity.id,jdbcType = VARCHAR},
				#{entity.moduleId,jdbcType = VARCHAR},
				#{entity.taskDefId,jdbcType = VARCHAR},
				#{entity.action,jdbcType = VARCHAR},
				#{entity.informType,jdbcType = VARCHAR},
				#{entity.needclaim,jdbcType = CHAR},
				#{entity.isSlaTime,jdbcType = CHAR},
				#{entity.includeTabs,jdbcType = VARCHAR},
				#{entity.includeActions,jdbcType = VARCHAR},
				#{entity.returnActivity,jdbcType = VARCHAR},
				#{entity.freechooseUrl,jdbcType = VARCHAR},
				#{entity.remark1,jdbcType = VARCHAR},
				#{entity.remark2,jdbcType = VARCHAR},
				#{entity.remark3,jdbcType = CHAR},
				#{entity.remark4,jdbcType = NUMERIC}
		from dual
</foreach>
</insert>

<!-- ElementID:deleteBatch,Generated=true -->
<delete id="deleteBatch" parameterType="List">
	delete from WORKFLOW_ACTIVITY_SETTING where id in
<trim prefix="(" suffix=")" suffixOverrides=",">
<foreach collection="list" item="entity" separator=",">
	#{entity.id}
</foreach>
</trim>
</delete>

<!-- ElementID:selectAll,Generated=true -->
<select id="selectAll" resultMap="ActivityConfigResult">
	select 
		<include refid="column_sql"/>
	    from WORKFLOW_ACTIVITY_SETTING 
</select>

<!-- ElementID:selectByID,Generated=true -->
<select id="selectByID" parameterType="java.lang.String" resultMap="ActivityConfigResult">
	select 
		<include refid="column_sql"/>
	    from WORKFLOW_ACTIVITY_SETTING 
		 where WORKFLOW_ACTIVITY_SETTING.id = #{id,jdbcType=VARCHAR}
</select>

<!-- ElementID:selectByPage,Generated=true -->
<select id="selectByPage" parameterType="com.chinacreator.c2.omp.service.manage.workflowcommon.Inform.ActivityConfig" resultMap="ActivityConfigResult">
	select 
		<include refid="column_sql"/>
	    from WORKFLOW_ACTIVITY_SETTING 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>


<!-- ElementID:selectMany,Generated=true -->
<select id="selectMany" parameterType="list" resultMap="ActivityConfigResult">
select 
	<include refid="column_sql"/> 
	from WORKFLOW_ACTIVITY_SETTING 
	where WORKFLOW_ACTIVITY_SETTING.id in (
<foreach collection="list" item="entity" separator="intersect">
		select 
		WORKFLOW_ACTIVITY_SETTING.id
	    from WORKFLOW_ACTIVITY_SETTING 
		 <where>
	        <if test="entity.id != null">and WORKFLOW_ACTIVITY_SETTING.id = #{entity.id}</if>
	        <if test="entity.moduleId != null">and WORKFLOW_ACTIVITY_SETTING.module_id = #{entity.moduleId}</if>
	        <if test="entity.taskDefId != null">and WORKFLOW_ACTIVITY_SETTING.task_def_id = #{entity.taskDefId}</if>
	        <if test="entity.action != null">and WORKFLOW_ACTIVITY_SETTING.action = #{entity.action}</if>
	        <if test="entity.informType != null">and WORKFLOW_ACTIVITY_SETTING.inform_type = #{entity.informType}</if>
	        <if test="entity.needclaim != null">and WORKFLOW_ACTIVITY_SETTING.needclaim = #{entity.needclaim}</if>
	        <if test="entity.isSlaTime != null">and WORKFLOW_ACTIVITY_SETTING.is_sla_time = #{entity.isSlaTime}</if>
	        <if test="entity.includeTabs != null">and WORKFLOW_ACTIVITY_SETTING.include_tabs = #{entity.includeTabs}</if>
	        <if test="entity.includeActions != null">and WORKFLOW_ACTIVITY_SETTING.include_actions = #{entity.includeActions}</if>
	        <if test="entity.returnActivity != null">and WORKFLOW_ACTIVITY_SETTING.return_activity = #{entity.returnActivity}</if>
	        <if test="entity.freechooseUrl != null">and WORKFLOW_ACTIVITY_SETTING.freechoose_url = #{entity.freechooseUrl}</if>
	        <if test="entity.remark1 != null">and WORKFLOW_ACTIVITY_SETTING.remark1 = #{entity.remark1}</if>
	        <if test="entity.remark2 != null">and WORKFLOW_ACTIVITY_SETTING.remark2 = #{entity.remark2}</if>
	        <if test="entity.remark3 != null">and WORKFLOW_ACTIVITY_SETTING.remark3 = #{entity.remark3}</if>
	        <if test="entity.remark4 != null">and WORKFLOW_ACTIVITY_SETTING.remark4 = #{entity.remark4}</if>
		</where>
</foreach>
)
</select>
<!--Generated=true-->
<update id="updateBatch" parameterType="list">
	<foreach collection="list" item="entity" open="begin" close=";end;" separator=";">
			update WORKFLOW_ACTIVITY_SETTING
	<set>
	<if test="entity.moduleId != null">module_id= #{entity.moduleId,jdbcType=VARCHAR},</if>
	<if test="entity.taskDefId != null">task_def_id= #{entity.taskDefId,jdbcType=VARCHAR},</if>
	<if test="entity.action != null">action= #{entity.action,jdbcType=VARCHAR},</if>
	<if test="entity.informType != null">inform_type= #{entity.informType,jdbcType=VARCHAR},</if>
	<if test="entity.needclaim != null">needclaim= #{entity.needclaim,jdbcType=CHAR},</if>
	<if test="entity.isSlaTime != null">is_sla_time= #{entity.isSlaTime,jdbcType=CHAR},</if>
	<if test="entity.includeTabs != null">include_tabs= #{entity.includeTabs,jdbcType=VARCHAR},</if>
	<if test="entity.includeActions != null">include_actions= #{entity.includeActions,jdbcType=VARCHAR},</if>
	<if test="entity.returnActivity != null">return_activity= #{entity.returnActivity,jdbcType=VARCHAR},</if>
	<if test="entity.freechooseUrl != null">freechoose_url= #{entity.freechooseUrl,jdbcType=VARCHAR},</if>
	<if test="entity.remark1 != null">remark1= #{entity.remark1,jdbcType=VARCHAR},</if>
	<if test="entity.remark2 != null">remark2= #{entity.remark2,jdbcType=VARCHAR},</if>
	<if test="entity.remark3 != null">remark3= #{entity.remark3,jdbcType=CHAR},</if>
	<if test="entity.remark4 != null">remark4= #{entity.remark4,jdbcType=NUMERIC}</if>
	</set>
		<where>
			<choose>
				<when test="entity.id != null">and id = #{entity.id}</when>
				<otherwise>and id = </otherwise>
			</choose>
		</where>
	</foreach>
</update>
</mapper>