<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.chinacreator.c2.omp.service.manage.workflowcommon.retrieval.RetrieveItemMapper">	

<!-- ElementID:column_sql,Generated=true -->
<sql id="column_sql">
		  WORKFLOW_RETRIEVAL_ITEM.item_id ,
		  WORKFLOW_RETRIEVAL_ITEM.retrieve_key ,
		  WORKFLOW_RETRIEVAL_ITEM.is_like ,
		  WORKFLOW_RETRIEVAL_ITEM.right_operate ,
		  WORKFLOW_RETRIEVAL_ITEM.left_operate ,
		  WORKFLOW_RETRIEVAL_ITEM.remark1 ,
		  WORKFLOW_RETRIEVAL_ITEM.remark2 ,
		  WORKFLOW_RETRIEVAL_ITEM.remark3 ,
		  WORKFLOW_RETRIEVAL_ITEM.remark4 ,
		  WORKFLOW_FORM_FIELD_T1.field_id T1_field_id ,
		  WORKFLOW_FORM_FIELD_T1.field_no T1_field_no ,
		  WORKFLOW_FORM_FIELD_T1.field_name T1_field_name ,
		  WORKFLOW_FORM_FIELD_T1.field_type T1_field_type ,
		  WORKFLOW_FORM_FIELD_T1.is_object T1_is_object ,
		  WORKFLOW_FORM_FIELD_T1.object_class T1_object_class ,
		  WORKFLOW_FORM_FIELD_T1.field_describe T1_field_describe ,
		  WORKFLOW_FORM_FIELD_T1.category_id T1_category_id ,
		  WORKFLOW_FORM_FIELD_T1.web_display_type_id T1_web_display_type_id ,
		  WORKFLOW_FORM_FIELD_T1.forder T1_forder ,
		  WORKFLOW_FORM_FIELD_T1.remark1 T1_remark1 ,
		  WORKFLOW_FORM_FIELD_T1.remark2 T1_remark2 ,
		  WORKFLOW_FORM_FIELD_T1.remark3 T1_remark3 ,
		  WORKFLOW_FORM_FIELD_T1.remark4 T1_remark4 ,
		  WORKFLOW_FORM_FIELD_T1.remark5 T1_remark5 ,
		  WORKFLOW_FORM_FIELD_T1.remark6 T1_remark6 ,
		  WORKFLOW_FORM_FIELD_T1.ramark7 T1_ramark7 ,
		  WORKFLOW_FORM_FIELD_T1.remark8 T1_remark8 ,
		  WORKFLOW_FORM_FIELD_T1.remark9 T1_remark9 ,
		  WORKFLOW_FORM_FIELD_T1.remark10 T1_remark10 
</sql>

<!-- ElementID:whereClause_sql,Generated=true -->
<sql id="whereClause_sql">
	    <if test="itemId != null">and WORKFLOW_RETRIEVAL_ITEM.item_id = #{itemId}</if>
	    <if test="retrieveKey != null">and WORKFLOW_RETRIEVAL_ITEM.retrieve_key = #{retrieveKey}</if>
	    <if test="isLike != null">and WORKFLOW_RETRIEVAL_ITEM.is_like = #{isLike}</if>
	    <if test="rightOperate != null">and WORKFLOW_RETRIEVAL_ITEM.right_operate = #{rightOperate}</if>
	    <if test="leftOperate != null">and WORKFLOW_RETRIEVAL_ITEM.left_operate = #{leftOperate}</if>
	    <if test="remark1 != null">and WORKFLOW_RETRIEVAL_ITEM.remark1 = #{remark1}</if>
	    <if test="remark2 != null">and WORKFLOW_RETRIEVAL_ITEM.remark2 = #{remark2}</if>
	    <if test="remark3 != null">and WORKFLOW_RETRIEVAL_ITEM.remark3 = #{remark3}</if>
	    <if test="remark4 != null">and WORKFLOW_RETRIEVAL_ITEM.remark4 = #{remark4}</if>
		<if test="fieldId != null and fieldId.fieldId !=null">and WORKFLOW_RETRIEVAL_ITEM.field_id = #{fieldId.fieldId}</if>
</sql>


<!-- ElementID:RetrieveItemResult,Generated=true -->
<resultMap id="RetrieveItemResult" type="com.chinacreator.c2.omp.service.manage.workflowcommon.retrieval.RetrieveItem">
	<id property="itemId" column="item_id"/>
	<result property="retrieveKey" column="retrieve_key"/>
	<result property="isLike" column="is_like"/>
	<result property="rightOperate" column="right_operate"/>
	<result property="leftOperate" column="left_operate"/>
	<result property="remark1" column="remark1"/>
	<result property="remark2" column="remark2"/>
	<result property="remark3" column="remark3"/>
	<result property="remark4" column="remark4"/>
	<association property="fieldId" column="T1_field_id" javaType="com.chinacreator.c2.omp.service.manage.workflowcommon.FormField" resultMap="FormFieldResult" columnPrefix="T1_"/>	
</resultMap>


<!-- ElementName:cache,Generated=true -->
<cache/>

<!-- ElementID:insert,Generated=true -->
<insert id="insert" parameterType="com.chinacreator.c2.omp.service.manage.workflowcommon.retrieval.RetrieveItem">
	insert into WORKFLOW_RETRIEVAL_ITEM(
	         <if test="itemId != null">item_id</if>
	         <if test="retrieveKey != null">,retrieve_key</if>
	         <if test="isLike != null">,is_like</if>
	         <if test="rightOperate != null">,right_operate</if>
	         <if test="leftOperate != null">,left_operate</if>
	         <if test="remark1 != null">,remark1</if>
	         <if test="remark2 != null">,remark2</if>
	         <if test="remark3 != null">,remark3</if>
	         <if test="remark4 != null">,remark4</if>
	 	 	 <if test="fieldId != null and fieldId.fieldId !=null">,field_id</if>
	 	 )
	 values (
	         <if test="itemId != null">#{itemId,jdbcType=VARCHAR}</if>
	         <if test="retrieveKey != null">,#{retrieveKey,jdbcType=VARCHAR}</if>
	         <if test="isLike != null">,#{isLike,jdbcType=CHAR}</if>
	         <if test="rightOperate != null">,#{rightOperate,jdbcType=VARCHAR}</if>
	         <if test="leftOperate != null">,#{leftOperate,jdbcType=VARCHAR}</if>
	         <if test="remark1 != null">,#{remark1,jdbcType=VARCHAR}</if>
	         <if test="remark2 != null">,#{remark2,jdbcType=VARCHAR}</if>
	         <if test="remark3 != null">,#{remark3,jdbcType=VARCHAR}</if>
	         <if test="remark4 != null">,#{remark4,jdbcType=NUMERIC}</if>
	 	 	 <if test="fieldId != null and fieldId.fieldId !=null">,#{fieldId.fieldId,jdbcType=VARCHAR}</if>
	 	 )
</insert>

<!-- ElementID:count,Generated=true -->
<select id="count" parameterType="com.chinacreator.c2.omp.service.manage.workflowcommon.retrieval.RetrieveItem" resultType="int">
	select count(*) from WORKFLOW_RETRIEVAL_ITEM 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>

<!-- ElementID:update,Generated=true -->
<update id="update" parameterType="com.chinacreator.c2.omp.service.manage.workflowcommon.retrieval.RetrieveItem">
	update WORKFLOW_RETRIEVAL_ITEM
<set>
	<if test="retrieveKey != null">retrieve_key=#{retrieveKey,jdbcType=VARCHAR},</if>
	<if test="isLike != null">is_like=#{isLike,jdbcType=CHAR},</if>
	<if test="rightOperate != null">right_operate=#{rightOperate,jdbcType=VARCHAR},</if>
	<if test="leftOperate != null">left_operate=#{leftOperate,jdbcType=VARCHAR},</if>
	<if test="remark1 != null">remark1=#{remark1,jdbcType=VARCHAR},</if>
	<if test="remark2 != null">remark2=#{remark2,jdbcType=VARCHAR},</if>
	<if test="remark3 != null">remark3=#{remark3,jdbcType=VARCHAR},</if>
	<if test="remark4 != null">remark4=#{remark4,jdbcType=NUMERIC},</if>
	<if test="fieldId != null and fieldId.fieldId !=null">field_id=#{fieldId.fieldId,jdbcType=VARCHAR}</if>
</set>
<where>
	<choose>
        <when test="itemId != null">and item_id = #{itemId}</when>
        <otherwise>and item_id = </otherwise>
    </choose>
</where>
</update>

<!-- ElementID:updateNull,Generated=true -->
<update id="updateNull" parameterType="map">
	update WORKFLOW_RETRIEVAL_ITEM
	<set>
		<trim suffixOverrides=",">
		    <if test="retrieveKey==null">retrieve_key = null,</if>
		    <if test="isLike==null">is_like = null,</if>
		    <if test="rightOperate==null">right_operate = null,</if>
		    <if test="leftOperate==null">left_operate = null,</if>
		    <if test="remark1==null">remark1 = null,</if>
		    <if test="remark2==null">remark2 = null,</if>
		    <if test="remark3==null">remark3 = null,</if>
		    <if test="remark4==null">remark4 = null,</if>
		    <if test="fieldId==null">field_id = null,</if>
		</trim>
	</set>
	<where>
		<choose>
			<when test="itemId != null">and item_id = #{itemId}</when>
			<otherwise>and item_id = </otherwise>
		</choose>
	</where>
</update>

<!-- ElementID:delete,Generated=true -->
<delete id="delete" parameterType="com.chinacreator.c2.omp.service.manage.workflowcommon.retrieval.RetrieveItem">
    delete from WORKFLOW_RETRIEVAL_ITEM where 1=1 and item_id = #{itemId}
</delete>

<!-- ElementID:select,Generated=true -->
<select id="select" parameterType="com.chinacreator.c2.omp.service.manage.workflowcommon.retrieval.RetrieveItem" resultMap="RetrieveItemResult">
	select 
		<include refid="column_sql"/>
	    from WORKFLOW_RETRIEVAL_ITEM 
		<include refid="one2one_sql"/>
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>


<!-- ElementID:insertBatch,Generated=true -->
<insert id="insertBatch" parameterType="list">
	insert into WORKFLOW_RETRIEVAL_ITEM (item_id,retrieve_key,is_like,right_operate,left_operate,remark1,remark2,remark3,remark4,field_id) 
<foreach collection="list" item="entity" index="index" separator="union all">
		select 
		#{entity.itemId,jdbcType = VARCHAR},
				#{entity.retrieveKey,jdbcType = VARCHAR},
				#{entity.isLike,jdbcType = CHAR},
				#{entity.rightOperate,jdbcType = VARCHAR},
				#{entity.leftOperate,jdbcType = VARCHAR},
				#{entity.remark1,jdbcType = VARCHAR},
				#{entity.remark2,jdbcType = VARCHAR},
				#{entity.remark3,jdbcType = VARCHAR},
				#{entity.remark4,jdbcType = NUMERIC},
						 #{entity.fieldId.fieldId,jdbcType=VARCHAR}
		from dual
</foreach>
</insert>

<!-- ElementID:deleteBatch,Generated=true -->
<delete id="deleteBatch" parameterType="List">
	delete from WORKFLOW_RETRIEVAL_ITEM where item_id in
<trim prefix="(" suffix=")" suffixOverrides=",">
<foreach collection="list" item="entity" separator=",">
	#{entity.itemId}
</foreach>
</trim>
</delete>

<!-- ElementID:selectAll,Generated=true -->
<select id="selectAll" resultMap="RetrieveItemResult">
	select 
		<include refid="column_sql"/>
	    from WORKFLOW_RETRIEVAL_ITEM 
		<include refid="one2one_sql"/>
</select>

<!-- ElementID:selectByID,Generated=true -->
<select id="selectByID" parameterType="java.lang.String" resultMap="RetrieveItemResult">
	select 
		<include refid="column_sql"/>
	    from WORKFLOW_RETRIEVAL_ITEM 
		<include refid="one2one_sql"/>
		 where WORKFLOW_RETRIEVAL_ITEM.item_id = #{itemId,jdbcType=VARCHAR}
</select>

<!-- ElementID:selectByPage,Generated=true -->
<select id="selectByPage" parameterType="com.chinacreator.c2.omp.service.manage.workflowcommon.retrieval.RetrieveItem" resultMap="RetrieveItemResult">
	select 
		<include refid="column_sql"/>
	    from WORKFLOW_RETRIEVAL_ITEM 
		<include refid="one2one_sql"/>
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>


<!-- ElementID:selectMany,Generated=true -->
<select id="selectMany" parameterType="list" resultMap="RetrieveItemResult">
select 
	<include refid="column_sql"/> 
	from WORKFLOW_RETRIEVAL_ITEM 
	<include refid="one2one_sql"/>
	where WORKFLOW_RETRIEVAL_ITEM.item_id in (
<foreach collection="list" item="entity" separator="intersect">
		select 
		WORKFLOW_RETRIEVAL_ITEM.item_id
	    from WORKFLOW_RETRIEVAL_ITEM 
		 <where>
	        <if test="entity.itemId != null">and WORKFLOW_RETRIEVAL_ITEM.item_id = #{entity.itemId}</if>
	        <if test="entity.retrieveKey != null">and WORKFLOW_RETRIEVAL_ITEM.retrieve_key = #{entity.retrieveKey}</if>
	        <if test="entity.isLike != null">and WORKFLOW_RETRIEVAL_ITEM.is_like = #{entity.isLike}</if>
	        <if test="entity.rightOperate != null">and WORKFLOW_RETRIEVAL_ITEM.right_operate = #{entity.rightOperate}</if>
	        <if test="entity.leftOperate != null">and WORKFLOW_RETRIEVAL_ITEM.left_operate = #{entity.leftOperate}</if>
	        <if test="entity.remark1 != null">and WORKFLOW_RETRIEVAL_ITEM.remark1 = #{entity.remark1}</if>
	        <if test="entity.remark2 != null">and WORKFLOW_RETRIEVAL_ITEM.remark2 = #{entity.remark2}</if>
	        <if test="entity.remark3 != null">and WORKFLOW_RETRIEVAL_ITEM.remark3 = #{entity.remark3}</if>
	        <if test="entity.remark4 != null">and WORKFLOW_RETRIEVAL_ITEM.remark4 = #{entity.remark4}</if>
		</where>
</foreach>
)
</select>
<!--Generated=true-->
<sql id="one2one_sql">
	     left outer join WORKFLOW_FORM_FIELD WORKFLOW_FORM_FIELD_T1 on WORKFLOW_RETRIEVAL_ITEM.field_id=WORKFLOW_FORM_FIELD_T1.field_id
</sql>
<!--Generated=true-->
<resultMap id="FormFieldResult" type="com.chinacreator.c2.omp.service.manage.workflowcommon.FormField">
	<id property="fieldId" column="field_id"/>
	<result property="fieldNo" column="field_no"/>
	<result property="fieldName" column="field_name"/>
	<result property="fieldType" column="field_type"/>
	<result property="isObject" column="is_object"/>
	<result property="objectClass" column="object_class"/>
	<result property="fieldDescribe" column="field_describe"/>
	<result property="categoryId" column="category_id"/>
	<result property="webDisplayTypeId" column="web_display_type_id"/>
	<result property="forder" column="forder"/>
	<result property="remark1" column="remark1"/>
	<result property="remark2" column="remark2"/>
	<result property="remark3" column="remark3"/>
	<result property="remark4" column="remark4"/>
	<result property="remark5" column="remark5"/>
	<result property="remark6" column="remark6"/>
	<result property="ramark7" column="ramark7"/>
	<result property="remark8" column="remark8"/>
	<result property="remark9" column="remark9"/>
	<result property="remark10" column="remark10"/>
</resultMap>
<!--Generated=true-->
<update id="updateBatch" parameterType="list">
	<foreach collection="list" item="entity" open="begin" close=";end;" separator=";">
			update WORKFLOW_RETRIEVAL_ITEM
	<set>
	<if test="entity.retrieveKey != null">retrieve_key= #{entity.retrieveKey,jdbcType=VARCHAR},</if>
	<if test="entity.isLike != null">is_like= #{entity.isLike,jdbcType=CHAR},</if>
	<if test="entity.rightOperate != null">right_operate= #{entity.rightOperate,jdbcType=VARCHAR},</if>
	<if test="entity.leftOperate != null">left_operate= #{entity.leftOperate,jdbcType=VARCHAR},</if>
	<if test="entity.remark1 != null">remark1= #{entity.remark1,jdbcType=VARCHAR},</if>
	<if test="entity.remark2 != null">remark2= #{entity.remark2,jdbcType=VARCHAR},</if>
	<if test="entity.remark3 != null">remark3= #{entity.remark3,jdbcType=VARCHAR},</if>
	<if test="entity.remark4 != null">remark4= #{entity.remark4,jdbcType=NUMERIC},</if>
	<if test="entity.fieldId != null and entity.fieldId.fieldId !=null">field_id= #{entity.fieldId.fieldId,jdbcType=VARCHAR}</if>
	</set>
		<where>
			<choose>
				<when test="entity.itemId != null">and item_id = #{entity.itemId}</when>
				<otherwise>and item_id = </otherwise>
			</choose>
		</where>
	</foreach>
</update>
</mapper>