<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.chinacreator.c2.omp.service.manage.unitymessage.PhoneMessageMapper">	

<!-- ElementID:column_sql,Generated=true -->
<sql id="column_sql">
		  TA_SEND_MESSAGE.oid ,
		  TA_SEND_MESSAGE.mobile_num ,
		  TA_SEND_MESSAGE.message_content ,
		  TA_SEND_MESSAGE.send_state ,
		  TA_SEND_MESSAGE.create_date 
</sql>

<!-- ElementID:whereClause_sql,Generated=true -->
<sql id="whereClause_sql">
	    <if test="oid != null">and TA_SEND_MESSAGE.oid = #{oid}</if>
	    <if test="mobileNum != null">and TA_SEND_MESSAGE.mobile_num = #{mobileNum}</if>
	    <if test="messageContent != null">and TA_SEND_MESSAGE.message_content = #{messageContent}</if>
	    <if test="sendState != null">and TA_SEND_MESSAGE.send_state = #{sendState}</if>
	    <if test="createDate != null">and TA_SEND_MESSAGE.create_date = #{createDate}</if>
</sql>


<!-- ElementID:PhoneMessageResult,Generated=true -->
<resultMap id="PhoneMessageResult" type="com.chinacreator.c2.omp.service.manage.unitymessage.PhoneMessage">
	<id property="oid" column="oid"/>
	<result property="mobileNum" column="mobile_num"/>
	<result property="messageContent" column="message_content"/>
	<result property="sendState" column="send_state"/>
	<result property="createDate" column="create_date"/>
</resultMap>


<!-- ElementName:cache,Generated=true -->
<cache/>

<!-- ElementID:insert,Generated=false -->
<insert id="insert" parameterType="com.chinacreator.c2.omp.service.manage.unitymessage.PhoneMessage">
	<selectKey resultType="int" keyProperty="oid" order="BEFORE">
   		select SEND_MESSAGE_SEQ.nextval oid
   		from dual
  	</selectKey>
	
	insert into TA_SEND_MESSAGE(
	         <if test="oid != null">oid</if>
	         <if test="mobileNum != null">,mobile_num</if>
	         <if test="messageContent != null">,message_content</if>
	         <if test="sendState != null">,send_state</if>
	         <if test="createDate != null">,create_date</if>
	 	 	 )
	 values (
	         <if test="oid != null">#{oid,jdbcType=NUMERIC}</if>
	         <if test="mobileNum != null">,#{mobileNum,jdbcType=VARCHAR}</if>
	         <if test="messageContent != null">,#{messageContent,jdbcType=VARCHAR}</if>
	         <if test="sendState != null">,#{sendState,jdbcType=NUMERIC}</if>
	         <if test="createDate != null">,#{createDate,jdbcType=DATE}</if>
	 	 	 )
</insert>

<!-- ElementID:count,Generated=true -->
<select id="count" parameterType="com.chinacreator.c2.omp.service.manage.unitymessage.PhoneMessage" resultType="int">
	select count(*) from TA_SEND_MESSAGE 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>

<!-- ElementID:update,Generated=true -->
<update id="update" parameterType="com.chinacreator.c2.omp.service.manage.unitymessage.PhoneMessage">
	update TA_SEND_MESSAGE
<set>
	<if test="mobileNum != null">mobile_num=#{mobileNum,jdbcType=VARCHAR},</if>
	<if test="messageContent != null">message_content=#{messageContent,jdbcType=VARCHAR},</if>
	<if test="sendState != null">send_state=#{sendState,jdbcType=NUMERIC},</if>
	<if test="createDate != null">create_date=#{createDate,jdbcType=DATE}</if>
</set>
<where>
	<choose>
        <when test="oid != null">and oid = #{oid}</when>
        <otherwise>and oid = </otherwise>
    </choose>
</where>
</update>

<!-- ElementID:updateNull,Generated=true -->
<update id="updateNull" parameterType="map">
	update TA_SEND_MESSAGE
	<set>
		<trim suffixOverrides=",">
		    <if test="mobileNum==null">mobile_num = null,</if>
		    <if test="messageContent==null">message_content = null,</if>
		    <if test="sendState==null">send_state = null,</if>
		    <if test="createDate==null">create_date = null,</if>
		</trim>
	</set>
	<where>
		<choose>
			<when test="oid != null">and oid = #{oid}</when>
			<otherwise>and oid = </otherwise>
		</choose>
	</where>
</update>

<!-- ElementID:delete,Generated=true -->
<delete id="delete" parameterType="com.chinacreator.c2.omp.service.manage.unitymessage.PhoneMessage">
    delete from TA_SEND_MESSAGE where 1=1 and oid = #{oid}
</delete>

<!-- ElementID:select,Generated=true -->
<select id="select" parameterType="com.chinacreator.c2.omp.service.manage.unitymessage.PhoneMessage" resultMap="PhoneMessageResult">
	select 
		<include refid="column_sql"/>
	    from TA_SEND_MESSAGE 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>


<!-- ElementID:insertBatch,Generated=true -->
<insert id="insertBatch" parameterType="list">
	insert into TA_SEND_MESSAGE (oid,mobile_num,message_content,send_state,create_date) 
<foreach collection="list" item="entity" index="index" separator="union all">
		select 
		#{entity.oid,jdbcType = NUMERIC},
				#{entity.mobileNum,jdbcType = VARCHAR},
				#{entity.messageContent,jdbcType = VARCHAR},
				#{entity.sendState,jdbcType = NUMERIC},
				#{entity.createDate,jdbcType = DATE}
		from dual
</foreach>
</insert>

<!-- ElementID:deleteBatch,Generated=true -->
<delete id="deleteBatch" parameterType="List">
	delete from TA_SEND_MESSAGE where oid in
<trim prefix="(" suffix=")" suffixOverrides=",">
<foreach collection="list" item="entity" separator=",">
	#{entity.oid}
</foreach>
</trim>
</delete>

<!-- ElementID:updateBatch,Generated=true -->
<update id="updateBatch" parameterType="list">
	<foreach collection="list" item="entity" open="begin" close=";end;" separator=";">
			update TA_SEND_MESSAGE
	<set>
	<if test="entity.mobileNum != null">mobile_num= #{entity.mobileNum,jdbcType=VARCHAR},</if>
	<if test="entity.messageContent != null">message_content= #{entity.messageContent,jdbcType=VARCHAR},</if>
	<if test="entity.sendState != null">send_state= #{entity.sendState,jdbcType=NUMERIC},</if>
	<if test="entity.createDate != null">create_date= #{entity.createDate,jdbcType=DATE}</if>
	</set>
		<where>
			<choose>
				<when test="entity.oid != null">and oid = #{entity.oid}</when>
				<otherwise>and oid = </otherwise>
			</choose>
		</where>
	</foreach>
</update>

<!-- ElementID:selectAll,Generated=true -->
<select id="selectAll" resultMap="PhoneMessageResult">
	select 
		<include refid="column_sql"/>
	    from TA_SEND_MESSAGE 
</select>

<!-- ElementID:selectMany,Generated=true -->
<select id="selectMany" parameterType="list" resultMap="PhoneMessageResult">
select 
	<include refid="column_sql"/> 
	from TA_SEND_MESSAGE 
	where TA_SEND_MESSAGE.oid in (
<foreach collection="list" item="entity" separator="intersect">
		select 
		TA_SEND_MESSAGE.oid
	    from TA_SEND_MESSAGE 
		 <where>
	        <if test="entity.oid != null">and TA_SEND_MESSAGE.oid = #{entity.oid}</if>
	        <if test="entity.mobileNum != null">and TA_SEND_MESSAGE.mobile_num = #{entity.mobileNum}</if>
	        <if test="entity.messageContent != null">and TA_SEND_MESSAGE.message_content = #{entity.messageContent}</if>
	        <if test="entity.sendState != null">and TA_SEND_MESSAGE.send_state = #{entity.sendState}</if>
	        <if test="entity.createDate != null">and TA_SEND_MESSAGE.create_date = #{entity.createDate}</if>
		</where>
</foreach>
)
</select>

<!-- ElementID:selectByID,Generated=true -->
<select id="selectByID" parameterType="java.lang.Integer" resultMap="PhoneMessageResult">
	select 
		<include refid="column_sql"/>
	    from TA_SEND_MESSAGE 
		 where TA_SEND_MESSAGE.oid = #{oid,jdbcType=NUMERIC}
</select>

<select id="selectMessageSeq" resultMap="PhoneMessageResult">
	select SEND_MESSAGE_SEQ.nextval message_oid from dual
</select>


<!-- ElementID:selectByPage,Generated=true -->
<select id="selectByPage" parameterType="com.chinacreator.c2.omp.service.manage.unitymessage.PhoneMessage" resultMap="PhoneMessageResult">
	select 
		<include refid="column_sql"/>
	    from TA_SEND_MESSAGE 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>

</mapper>