<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.chinacreator.c2.omp.service.manage.notificationmanage.NoticeScopeMapper">	

<!-- ElementID:column_sql,Generated=true -->
<sql id="column_sql">
		  KCOMP_NOTICE_SCOPE.notify_scope_xh ,
		  KCOMP_NOTICE_SCOPE.notify_xh ,
		  KCOMP_NOTICE_SCOPE.notify_org_id ,
		  KCOMP_NOTICE_SCOPE.notify_user_id 
</sql>

<!-- ElementID:whereClause_sql,Generated=true -->
<sql id="whereClause_sql">
	    <if test="notifyScopeXh != null">and KCOMP_NOTICE_SCOPE.notify_scope_xh = #{notifyScopeXh}</if>
	    <if test="notifyXh != null">and KCOMP_NOTICE_SCOPE.notify_xh = #{notifyXh}</if>
	    <if test="notifyOrgId != null">and KCOMP_NOTICE_SCOPE.notify_org_id = #{notifyOrgId}</if>
	    <if test="notifyUserId != null">and KCOMP_NOTICE_SCOPE.notify_user_id = #{notifyUserId}</if>
</sql>


<!-- ElementID:NoticeScopeResult,Generated=true -->
<resultMap id="NoticeScopeResult" type="com.chinacreator.c2.omp.service.manage.notificationmanage.NoticeScope">
	<id property="notifyScopeXh" column="notify_scope_xh"/>
	<result property="notifyXh" column="notify_xh"/>
	<result property="notifyOrgId" column="notify_org_id"/>
	<result property="notifyUserId" column="notify_user_id"/>
</resultMap>


<!-- ElementName:cache,Generated=true -->
<cache/>

<!-- ElementID:insert,Generated=true -->
<insert id="insert" parameterType="com.chinacreator.c2.omp.service.manage.notificationmanage.NoticeScope">
	insert into KCOMP_NOTICE_SCOPE(
	         <if test="notifyScopeXh != null">notify_scope_xh</if>
	         <if test="notifyXh != null">,notify_xh</if>
	         <if test="notifyOrgId != null">,notify_org_id</if>
	         <if test="notifyUserId != null">,notify_user_id</if>
	 	 	 )
	 values (
	         <if test="notifyScopeXh != null">#{notifyScopeXh,jdbcType=VARCHAR}</if>
	         <if test="notifyXh != null">,#{notifyXh,jdbcType=VARCHAR}</if>
	         <if test="notifyOrgId != null">,#{notifyOrgId,jdbcType=VARCHAR}</if>
	         <if test="notifyUserId != null">,#{notifyUserId,jdbcType=VARCHAR}</if>
	 	 	 )
</insert>

<!-- ElementID:count,Generated=true -->
<select id="count" parameterType="com.chinacreator.c2.omp.service.manage.notificationmanage.NoticeScope" resultType="int">
	select count(*) from KCOMP_NOTICE_SCOPE 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>

<!-- ElementID:update,Generated=true -->
<update id="update" parameterType="com.chinacreator.c2.omp.service.manage.notificationmanage.NoticeScope">
	update KCOMP_NOTICE_SCOPE
<set>
	<if test="notifyXh != null">notify_xh=#{notifyXh,jdbcType=VARCHAR},</if>
	<if test="notifyOrgId != null">notify_org_id=#{notifyOrgId,jdbcType=VARCHAR},</if>
	<if test="notifyUserId != null">notify_user_id=#{notifyUserId,jdbcType=VARCHAR}</if>
</set>
<where>
	<choose>
        <when test="notifyScopeXh != null">and notify_scope_xh = #{notifyScopeXh}</when>
        <otherwise>and notify_scope_xh = </otherwise>
    </choose>
</where>
</update>

<!-- ElementID:updateNull,Generated=true -->
<update id="updateNull" parameterType="map">
	update KCOMP_NOTICE_SCOPE
	<set>
		<trim suffixOverrides=",">
		    <if test="notifyXh==null">notify_xh = null,</if>
		    <if test="notifyOrgId==null">notify_org_id = null,</if>
		    <if test="notifyUserId==null">notify_user_id = null,</if>
		</trim>
	</set>
	<where>
		<choose>
			<when test="notifyScopeXh != null">and notify_scope_xh = #{notifyScopeXh}</when>
			<otherwise>and notify_scope_xh = </otherwise>
		</choose>
	</where>
</update>

<!-- ElementID:delete,Generated=true -->
<delete id="delete" parameterType="com.chinacreator.c2.omp.service.manage.notificationmanage.NoticeScope">
    delete from KCOMP_NOTICE_SCOPE where 1=1 and notify_scope_xh = #{notifyScopeXh}
</delete>

<!-- ElementID:select,Generated=true -->
<select id="select" parameterType="com.chinacreator.c2.omp.service.manage.notificationmanage.NoticeScope" resultMap="NoticeScopeResult">
	select 
		<include refid="column_sql"/>
	    from KCOMP_NOTICE_SCOPE 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>


<!-- ElementID:insertBatch,Generated=true -->
<insert id="insertBatch" parameterType="list">
	insert into KCOMP_NOTICE_SCOPE (notify_scope_xh,notify_xh,notify_org_id,notify_user_id) 
<foreach collection="list" item="entity" index="index" separator="union all">
		select 
		#{entity.notifyScopeXh,jdbcType = VARCHAR},
				#{entity.notifyXh,jdbcType = VARCHAR},
				#{entity.notifyOrgId,jdbcType = VARCHAR},
				#{entity.notifyUserId,jdbcType = VARCHAR}
		from dual
</foreach>
</insert>

<!-- ElementID:deleteBatch,Generated=true -->
<delete id="deleteBatch" parameterType="List">
	delete from KCOMP_NOTICE_SCOPE where notify_scope_xh in
<trim prefix="(" suffix=")" suffixOverrides=",">
<foreach collection="list" item="entity" separator=",">
	#{entity.notifyScopeXh}
</foreach>
</trim>
</delete>

<!-- ElementID:selectAll,Generated=true -->
<select id="selectAll" resultMap="NoticeScopeResult">
	select 
		<include refid="column_sql"/>
	    from KCOMP_NOTICE_SCOPE 
</select>

<!-- ElementID:selectByID,Generated=true -->
<select id="selectByID" parameterType="java.lang.String" resultMap="NoticeScopeResult">
	select 
		<include refid="column_sql"/>
	    from KCOMP_NOTICE_SCOPE 
		 where KCOMP_NOTICE_SCOPE.notify_scope_xh = #{notifyScopeXh,jdbcType=VARCHAR}
</select>

<!-- ElementID:selectByPage,Generated=true -->
<select id="selectByPage" parameterType="com.chinacreator.c2.omp.service.manage.notificationmanage.NoticeScope" resultMap="NoticeScopeResult">
	select 
		<include refid="column_sql"/>
	    from KCOMP_NOTICE_SCOPE 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>


<!-- ElementID:selectMany,Generated=true -->
<select id="selectMany" parameterType="list" resultMap="NoticeScopeResult">
select 
	<include refid="column_sql"/> 
	from KCOMP_NOTICE_SCOPE 
	where KCOMP_NOTICE_SCOPE.notify_scope_xh in (
<foreach collection="list" item="entity" separator="intersect">
		select 
		KCOMP_NOTICE_SCOPE.notify_scope_xh
	    from KCOMP_NOTICE_SCOPE 
		 <where>
	        <if test="entity.notifyScopeXh != null">and KCOMP_NOTICE_SCOPE.notify_scope_xh = #{entity.notifyScopeXh}</if>
	        <if test="entity.notifyXh != null">and KCOMP_NOTICE_SCOPE.notify_xh = #{entity.notifyXh}</if>
	        <if test="entity.notifyOrgId != null">and KCOMP_NOTICE_SCOPE.notify_org_id = #{entity.notifyOrgId}</if>
	        <if test="entity.notifyUserId != null">and KCOMP_NOTICE_SCOPE.notify_user_id = #{entity.notifyUserId}</if>
		</where>
</foreach>
)
</select>
<!--Generated=true-->
<update id="updateBatch" parameterType="list">
	<foreach collection="list" item="entity" open="begin" close=";end;" separator=";">
			update KCOMP_NOTICE_SCOPE
	<set>
	<if test="entity.notifyXh != null">notify_xh= #{entity.notifyXh,jdbcType=VARCHAR},</if>
	<if test="entity.notifyOrgId != null">notify_org_id= #{entity.notifyOrgId,jdbcType=VARCHAR},</if>
	<if test="entity.notifyUserId != null">notify_user_id= #{entity.notifyUserId,jdbcType=VARCHAR}</if>
	</set>
		<where>
			<choose>
				<when test="entity.notifyScopeXh != null">and notify_scope_xh = #{entity.notifyScopeXh}</when>
				<otherwise>and notify_scope_xh = </otherwise>
			</choose>
		</where>
	</foreach>
</update>
</mapper>