/*公共样式*/
noWrapCss {
	white-space : nowrap;
}

.div_border {
	border:1px solid #A7D6F4;
}
.no_padding {
	padding:0px; margin:0px;
}
body{
	background:url(../assets/images/indexImages/ztbg.jpg) fixed center no-repeat;
	/*position:fixed;*/
	font-size:12px;
	line-height:1.2;
	background-color:transparent;
	background-size:cover;
	color:#fff;
}
/* ::-webkit-scrollbar  
{  
    width: 16px;  
    height: 16px;  
    background:transparent;  
} 
 定义滚动条轨道 内阴影+圆角
::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
    border-radius: 10px;  
    background-color: #F5F5F5;  
}  
定义滑块 内阴影+圆角  
::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  
    -webkit-box-shadow: inset 0 0 6px #f57325;  
    background-color: #6E8AC1;  
}   */
.page-content{
	background-color:inherit;
	position:relative;
	margin:0px;
}
.tab-content{
	padding:0px;
	position:relative;
	background-color:inherit;
	border:none;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, 
.col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, 
.col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, 
.col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, 
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, 
.col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, 
.col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, 
.col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, 
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, 
.col-sm-12, .col-md-12, .col-lg-12{
	padding:10px 10px 5px;
}
.col-sm-3{
	width:20%;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus,
input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, 
input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, 
input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, 
input[type="tel"]:focus, input[type="color"]:focus{
	border-color:#8badf5;
	box-shadow:inset 0 0 10px #8badf5;
}
a{
	color:inherit;
	text-decoration:none;
}
a:hover,a:focus{
	color:inherit;
	text-decoration:underline;
}

.ui-pg-table>tbody>tr>.ui-pg-button.ui-state-disabled .ui-icon,
.ui-pg-table>tbody>tr>.ui-pg-button>.ui-icon{   /*翻页按钮*/
	color:#FFFFFF;
	border:1px solid #1D2B4A;
	background-color:#455479;
}
.ui-pg-table>tbody>tr>.ui-pg-button>.ui-icon:hover{
	color:#fff;
	background-color:#8188BD;
}
.ui-jqgrid .ui-pg-selbox{
	background-color:#455479;
	color:inherit;
}

.ui-jqgrid .ui-jqgrid-view, .ui-jqgrid .ui-paging-info, .ui-jqgrid .ui-pg-table, .ui-jqgrid .ui-pg-selbox{ /*列表文字*/
	font-size:inherit;
}
.btn.btn-white{
	color:#fff !important;
}
.btn-primary, .btn-primary:focus{
	background-color:#496192 !important;
	border-color:#496192;
}

.table-search-house{  /*查找弹出框*/
	border:none;
	background-color:transparent;
	border-bottom-width:0;
	overflow:hidden;
	padding-top:0px;
}
.input-group .input-group-addon.input-group-select{
	border-right:none;
}
.searchButtonDiv{     /*按钮位置*/
	padding-top:4px;
}

.nav-tabs{  /*tab切换*/
	border-color:#6e8ac1;
	margin-bottom:0px !important;
	margin-left:0;
	position:relative;
	top:0;
	border-width:2px;
}






/*系统首页*/
.head_bg{
	height:50px;
	width:100%;
	color:#060606;
	padding-bottom:10px;
	box-shadow:inset 0 0 10px #000;
	background-color:#172b4e;
   /*  background-image:-webkit-linear-gradient(top, #212f4f 0, #17284b 100%);
	background-image:linear-gradient(to bottom, #212f4f 0, #17284b 100%);  */
}
.index_container{
	padding-top:50px;
}
/* #index_xticon{
   	position:relative;
   	width:435px;
   	left:375px;
   	top:-45px
}
#index_xticon a{
	color:#fff;
	line-height:3;
	font-size:1.2em;
	padding:14px;
	font-weight:bold;
}
#index_xticon ul{
	width:100%;
	margin:0px;
	padding:4px 0px 0px 8px;
}
#index_xticon li{
	list-style:none;
	height:20px;
	float:left;
}
#index_xticon li>a:hover,#index_xticon li>a:focus,#index_xticon li>a:visited{
	background-image:linear-gradient(to bottom, #8188bd 0px, #69788e 100%);;
	background-image:-webkit-linear-gradient(top, #8188bd 0, #69788e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#71748a,endColorstr=#62657d,grandientType=1);
	text-decoration:none;
	cursor:pointer;
} */
.head_logo{
	background:url(../assets/images/indexImages/head_logo1.png) no-repeat scroll left center;
    height:50px;
    width:375px;;
    float:left;
}
@media(min-width: 992px){
	.sidebar.compact + .main-content .tab-fixed{
	left:110px !important;
	margin-right:5px;
	border-radius:8px;
	}
} 
@media(min-width: 992px){
	.sidebar.menu-min + .main-content .tab-fixed{
	left:50px !important;
	}
}

[c2tabset]>ul{    /*平台导航*/
	background:#2e456e;
	border:1px solid #485d82;
}
[c2tabset]>.nav-tabs>li.active>a, [c2tabset]>.nav-tabs>li.active>a:hover, [c2tabset]>.nav-tabs>li.active>a:focus {
	background-image:linear-gradient(to bottom, #8188bd 0px, #69788e 100%);;
	background-image:-webkit-linear-gradient(top, #8188bd 0, #69788e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#71748a,endColorstr=#62657d,grandientType=1);
    color:inherit;
    font-size:inherit;
    border-radius:8px !important;
 } 
 [c2tabset]>ul>li>a:active,[c2tabset]>ul>li>a:hover {
	background-image:linear-gradient(to bottom, #8188bd 0px, #69788e 100%);;
	background-image:-webkit-linear-gradient(top, #8188bd 0, #69788e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#71748a,endColorstr=#62657d,grandientType=1);
	border:none;
	color:inherit;
	font-size:inherit;
	border-radius:8px !important;
}
 [c2tabset]>ul>li{
	font-size:1.2em;
}
[c2tabset]>.nav-tabs>li.active>a,[c2tabset]> .nav-tabs>li.active>a:hover, [c2tabset]>.nav-tabs>li.active>a:focus{
   border-color:transparent;
   border-top:0px solid #4c8fbd;
   border-bottom-color:none;
   background-color:#005888;
   z-index:1;
   line-height:1.5em;
   box-shadow:0 -2px 3px 0 rgba(0,0,0,0.15);
}
[c2tabset]>li>a{
	border:none;
}
[c2tabset]>ul>li>a{
	color:inherit;
	line-height:1.5em;
	font-weight:bold;
	background:url(../assets/images/indexImages/1px.png) no-repeat scroll right center;
}
[c2tabset]>.nav-tabs>li>a, [c2tabset]>.nav-tabs>li>a:focus{
   border-radius:8px !important;
   margin-right:-2px;
   position:relative;
   border-color:transparent;
   color:#fff;
   font-weight:bold;
 }
.tab-nav-item .tab-action:hover{
	color:#fff;
}

#index_dhtb {       /*顶部导航效果*/
 width:40%;
 overflow: hidden;
 
}
#kcompMenuNavigation li{
	list-style:none;
	line-height:48px;
	float:left;
}
#kcompMenuNavigation a{
	color:#fff;
	line-height:2;
	font-size:1.2em;
	font-weight:bold;
	padding:15px;
}
#kcompMenuNavigation li>a:hover,#kcompMenuNavigation li>a:focus,#kcompMenuNavigation li>a:visited{
	background-image:linear-gradient(to bottom, #8188bd 0px, #69788e 100%);;
	background-image:-webkit-linear-gradient(top, #8188bd 0, #69788e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#71748a,endColorstr=#62657d,grandientType=1);
	text-decoration:none;
} 
.index_daohang{
	background-image:linear-gradient(to bottom, #8188bd 0px, #69788e 100%);;
	background-image:-webkit-linear-gradient(top, #8188bd 0, #69788e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#71748a,endColorstr=#62657d,grandientType=1);
	text-decoration:none;
}

.sidebar.sidebar-fixed:before{    /*左侧菜单导航*/
	background:#152c51;
	opacity: 0.2;
}
.no-skin .sidebar{
	background-color:inherit;
	border:none;
}
.no-skin .kompc_list>li{
	border-color:#565f6c;
}
.no-skin .kompc_list>li>a{
	background:transparent;
	color:#fff;
}
.no-skin .nav-list > li.active > a, 
.no-skin .nav-list > li.active > a:hover, 
.no-skin .nav-list > li.active > a:focus,
.no-skin .nav-list>li:hover>a{
	background-image:linear-gradient(to bottom, #8188bd 0px, #69788e 100%);
	background-image:-webkit-linear-gradient(top, #8188bd 0, #69788e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#8188BD,endColorstr=#69788E,grandientType=1);
	color:#fff;
}
.no-skin .nav-list>li.active:after{
	display:block;
	content:"";
	position:absolute;
	right:-2px;
	top:-1px;
	bottom:0;
	z-index:1;
	border:1px solid #fff;
	border-width:0px 1px 0px 0px;
}
.no-skin .nav-list li.active>a:after{
	border-right-color:#fff;
	-moz-border-right-colors:#fff;
}
.kcomp_sidebarss{
	background:#496192;
	border:none;
	text-align:center;
	padding:3px 0;
	font-size:18px;
}
.no-skin .sidebar-shortcuts-mini{
	background-color:#1d2d4e;
}
.no-skin .sidebar-shortcuts{
	background-color:inherit;
}
.meunlarge{
	background:url(../assets/images/meunimage_1.jpg) no-repeat;
	height:42px;
}
.meunmini{
	background:url(../assets/images/meunimagemini_1.jpg) no-repeat;
	height:42px;
}

.widget-box.transparent{      /*通用列表*/
    border-radius:5px;
	background:url(../assets/images/indexImages/2.png) repeat;
}
.widget-box.transparent > .widget-header{
	background:#6e8ac1;
	border-radius:5px 5px 0px 0px;
	
}
.ui-jqgrid-sortable,.ui-jqgrid-sortable:hover{
	color:#fff;
}
.ui-jqgrid .ui-jqgrid-view input, .ui-jqgrid .ui-jqgrid-view select,
.ui-jqgrid .ui-jqgrid-view textarea, .ui-jqgrid .ui-jqgrid-view button{
	font-size:inherit;
	border-radius:5px;
}

.ui-jqgrid .ui-jqgrid-labels,.ui-jqgrid .ui-jqgrid-hdiv{    /*列表表单*/
	background:#6E8AC1;
	border:none;
	border-left:none !important;
}
.ui-jqgrid-hdiv .ui-jqgrid-htable{
	border-top:none;
}
.ui-jqgrid .ui-jqgrid-labels th{
	border-right:1px solid #8099ca !important;
	text-align:left !important;
}
.ui-jqgrid-btable .ui-widget-content.ui-priority-secondary,
.ui-jqgrid tr.jqgrow, .ui-jqgrid tr.ui-row-ltr, .ui-jqgrid tr.ui-row-rtl{
	background:url(../assets/images/indexImages/2.png) repeat;
	background-color:transparent;
	opacity:1;
}
.ui-jqgrid .ui-jqgrid-hdiv{
	border-radius:5px 5px 0px 0px;
}
.ui-jqgrid .ui-jqgrid-pager{
    background-color:transparent !important;
	border-bottom:0px !important;	
}
.ui-jqgrid .ui-jqgrid-bdiv{
	border-top:none;
}
.ui-jqgrid .ui-jqgrid-btable{
	border-left:none;
}
.ui-jqgrid tr.ui-row-ltr td, .ui-jqgrid tr.ui-row-rtl td{
	border-bottom:1px solid #8C97AD;
	padding:8px 4px;
	border-color:#8C97AD;
	text-overflow:ellipsis;
}
.ui-jqgrid tr.ui-row-ltr td{
	border-right-width:0px;
	border-right-style:solid;
}
.ui-jqgrid .ui-jqgrid-pager{
	line-height:15px;
	height:55px;
	padding-top:0px !important;
	padding-bottom:5px !important;
	border-top:0px solid #8C97ad !important;
}
.ui-jqgrid .ui-jqgrid-htable thead{
	background-color:#455479;
}
.ui-jqgrid-btable .ui-widget-content.ui-state-hover,
.ui-jqgrid-btable .ui-widget-content.ui-state-highlight{  /*鼠标列表选择*/
	background:#747FA3;
}

.widget-box.transparent>.widget-header{    /*平台输入*/
	border-bottom:none;
	color:inherit;
	padding-left:10px;
}
.form-group select, .form-group textarea, .form-group input[type="text"], 
.form-group input[type="password"], .form-group input[type="datetime"], 
.form-group input[type="datetime-local"], .form-group input[type="date"], 
.form-group input[type="month"], .form-group input[type="time"], 
.form-group input[type="week"], .form-group input[type="number"], 
.form-group input[type="email"], .form-group input[type="url"], 
.form-group input[type="search"], .form-group input[type="tel"], 
.form-group input[type="color"]{
	background:transparent;
}
.form-control,select{
	border-radius:5px;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
	color:#fff;
	border:1px solid #a3b7d7;
}
.form-control{
	height:30px;
	margin-top:2px;
}
.form-control:focus,select:focus{   /*下拉树浮动样式*/
	color:#000;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], 
input[type="datetime-local"], input[type="date"], input[type="month"], 
input[type="time"], input[type="week"], input[type="number"], input[type="email"], 
input[type="url"], input[type="search"], input[type="tel"], input[type="color"]{
	border-radius:5px !important;
	color:inherit;
	border:1px solid #a3b7d7;
	padding:5px 4px 6px;
	font-size:1.1em;
	font-family:inherit;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
	-webkit-transition-duration:.1s;
	transition-duration:.1s;
	background-color:transparent !important;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, 
input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, 
input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, 
input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus{
	color:inherit;
}
input[type="text"]{
	background-color:#455479;
}
.form-group.has-error .control-label, .form-group.has-error .help-block, 
.form-group.has-error .help-inline{    /*必填项*/
	color:#f7aaa8;
}
.form-group.has-error input:focus, .form-group.has-error select:focus,
.form-group.has-error textarea:focus{
	color:#f7aaa8;
}

.input-group-addon{
	padding:6px 5px;
	color:inherit;
	text-align:center;
	font-size:1.3em;
	background-color:transparent;
	border:none;
}
.form-group input[disabled], .form-group input:disabled,.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
	color:#f5f5f5 !important;
	background-color:#656b77 !important;
	opacity:0.8;
}

.form-actions{      /*操作按钮*/
	display:block;
	background-color:transparent;
	border-top:none;
	margin-top:0px;
}

.ace-nav>li.light-blue>a{    /*首页右侧*/
	background-color:transparent;
}
.ace-nav>li{
	border-left:none;
}
.ace-nav>li.light-blue>a:hover, .ace-nav>li.light-blue>a:focus, .ace-nav>li.open.light-blue>a{
	background-image:linear-gradient(to bottom, #8188bd 0px, #69788e 100%);
	background-image:-webkit-linear-gradient(top, #8188bd 0, #69788e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#8188BD,endColorstr=#69788E,grandientType=1);
}
.ace-nav>li{    /*右侧退出*/
	line-height:45px;
	height:45px;
	padding:0;
	position:relative;
	float:right;
	right:10px;
}

.table-title{
	font-size:#181818;
	color:#fff;
	line-height:38px;
	float:left;
}
#alarmEventList .col-xs-4{
	margin-top:25px;
}

.al-control-label{
	float:left;
	padding-top:5px;
	text-align:right;
	line-height:24px;
	font-size:inherit;
}








/*服务首页*/
#listservicetotal{
	background:url(../assets/images/indexImages/2.png) repeat;
}
.btn-sm{
	border-width:1px;
	font-size:1.2em;
	padding:4px 9px;
	line-height:1.3;
	margin-right:5px;
	border-radius:5px;
}
.btn-primary, .btn-primary:focus{
	background-color:#8595d2 !important;
	border-color:#6578C3;
}
.btn-primary:hover, .btn-primary:active, .open .btn-primary.dropdown-toggle{ /*按钮浮动*/
    background-color:#2e456e !important;
    border-color:#2e456e;
}






/*登录页面*/
.login_body {
	position:relative;
	background:url(../assets/images/indexImages/ztbg.jpg) no-repeat fixed center;
	margin:0px;
	padding:0px;
	overflow:hidden;
	width:100%;
	background-size:cover;
}
#main_content{
	margin:0px auto;
	width:1110px;
	height:900px;
	background:url(../assets/images/loginImages/tmbg.png)  no-repeat;
}
.kcompc_logo{
	margin:0 auto;
	height:180px;
	background:url(../assets/images/loginImages/dljm_04.png)  no-repeat;
}
.login_login{
	top:16%;
	left:29%;
	height:435px;
	width:455px;
    position:relative;
}
.kcompc_box{
	height:276px;;
	width:455px;
	float:left;
}
.box{
	font-family:"Microsoft YaHei", tahoma,arial, simsun;
	font-size:1.2em;
	padding-top:15px;
	padding-left:85px;
	padding-right:25px;
}
.ztz{
	float:left;
	padding-left:15px;
	line-height:45px;
}
.input-groupb{
	padding-top:10px;
	height:65px;
}
.groupyzm{
	float:left;
	width:235px;
}
.groupyzmt{
	position:absolute;
	padding-top:3px;
	right:15px;
	width:100px;
	height:40px;
}
.password01{
	width:100%;
	padding-top:20px;
	font-family:"Microsoft YaHei", tahoma,arial, simsun;
	font-size:12px;
	color:#fff;	
	vertical-align:middle;
	overflow:hidden;
}
.password01 a{
	color:#fff;
}
.password01 span{
	position:absolute;
	right:35px;
}
.fsub01{
	margin-top:30px;
	margin-left:37px;
}
.input-groupy{
    padding-top:10px;
	width:250px;
}
.fsub{
	width:227px;
	height:40px;
	text-align:center;
	font-size:16px;
	color: #fff;
	background-image:linear-gradient(to bottom, #748fba 0, #214275 100%);
	background-image:-webkit-linear-gradient(to bottom, #748fba 0, #214275 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#748fba,endColorstr=#214275,grandientType=1);
	border:1px solid #214275;
	border-radius:5px;
}
.kcomp_footer{
	position:fixed;
	bottom:0px;
	text-align:center;
	width:100%;
	height:38px;
	font-family:"Microsoft YaHei", tahoma,arial, simsun;
	font-size:12px;
	color:inherit;
}
.kcomp_footer a{
	color:inherit;
}




/*弹出页面*/
.modal-header{
	border-radius:5px 5px 0px 0px;
	height:45px;
	padding:0px;
	border-bottom:1px solid #3e5c98;
	background-image:linear-gradient(to bottom, #4d6daf 0px, #1f3767 100%);
	background-image:-webkit-linear-gradient(top, #4d6daf 0px, #1f3767 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4d6daf,endColorstr=#1f3767,grandientType=1);
}
.modal-header h4{
	float:left;
	padding-left:20px;
	font-size:1.5em;
	font-weight:500;
	color:#fff;
	line-height:1.2;
	font-weight:600;
}
.modal-footer{
	padding-top:12px;
	padding-bottom:14px;
	border-top-color:#3e5c98;
	box-shadow:none;
	border-radius:0px 0px 5px 5px;
	background-color:transparent;
}
.close{
	float:right;
	font-weight:700;
	line-height:1;
	color:#fff;
	opacity:1;
	filter:alpha(opacity=100);
	text-shadow:none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
	color:#fff;
	border-color:#6e8ac1;
	border-top:none;
	border-bottom-color:#6e8ac1;
	border-radius:5px 5px 0px 0px !important;
	background-color:#6e8ac1;
	z-index:1;
	line-height:18px;
	margin-top:0px;
	box-shadow:none;
	font-weight:bold;
}
.nav-tabs>li>a, .nav-tabs>li>a:focus{
	border-radius:5px 5px 0px 0px !important;
	border-color:#6e8ac1;
	color:#b6cbf7;
	margin-right:0px;
	line-height:18px;
	position:relative;
}
.nav>li.disabled>a,.nav>li.disabled>a:focus{
	color:#ccc;
}
.form-group{
	padding:2px !important;
	margin-bottom:0px;
}
.modal-content{
	border-radius:5px;
	box-shadow:5px 5px 8px #293550;
	background:url(../assets/images/indexImages/tcbg.jpg) fixed center no-repeat;
	background-size:cover;
}
.modal-body{
	padding:0px;
	margin:8px;
	background:url(../assets/images/indexImages/2.png) repeat;
}
.row{
	margin-right:0px;
	margin-left:0px;
}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th,
 .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td,
 .table-bordered{
    border:1px solid #8c97ad;
 }
 .table-striped>tbody>tr:nth-child(odd){
   background-color:transparent;
 }
  .table-striped>tbody>tr:focus{
   background:#747fa3;
  }
 .widget-box{
   margin-left:-1px;
   margin-top:0px;
   margin-right:0px;
   margin-bottom:0px;
   border:none;
 }
 
 .widget-body{
   background-color:transparent;
 }
.widget-header{
   box-sizing:content-box;
   -webkit-box-sizing:content-box;
   -moz-box-sizing:content-box;
   position:relative;
   min-height:38px;
   background:#f7f7f7;
   background-image:linear-gradient(to bottom, #7ea1e6 0, #6e8ac1 100%);
   background-image:-webkit-linear-gradient(top, #7ea1e6 0, #6e8ac1 100%);
   color:inherit;
}
.accordion-style1.panel-group .panel{
	border-radius:5px 5px 0px 0px;
	border-color:#6e8ac1;
	background-color:transparent;      
	box-shadow:none;
	background:url(../assets/images/indexImages/2.png) repeat;
}
.accordion-style1.panel-group .panel-heading .accordion-toggle:hover{
	background-color:#6e8ac1;
	color:inherit;
	text-decoration:none;
}
.accordion-style1.panel-group .panel-heading .accordion-toggle{
	color:#fff;
	background-color:#6e8ac1;
	position:relative;
	font-weight:bold;
	font-size:13px;
	line-height:1;
	padding:10px;
	display:block;
}
.accordion-style1.panel-group .panel .collapse{
	background-color:transparent;
}
.table-hover>tbody>tr:hover{
	background-color:#747fa3;
}



.pace .pace-progress {     /*进度条颜色*/
  background: #00e842;
}

.ztree{
	color:#fff !important;
	margin:0px;
	padding:0px;
}




/*虚拟主机详情*/
.monitor_according_div a{
	cursor:pointer;
	color:#fff;
	background-color:#6e8ac1;
	position:relative;
	font-weight:bold;
	font-size:0.8em;
	line-height:1;
	padding:10px;
	text-decoration:none;
	display:block;
}
.monitor_according_div{
	margin-top:0px;
	margin-bottom:0px;
	font-size:16px;
	color:inherit;
	border-bottom:1px solid #6e8ac1;
}
.monitor_according{
	padding:0px;
	border:1px solid #6e8ac1;
	border-radius:5px;
	margin-bottom:10px;
}
.monitor_navtreehead{
	background-color:#6e8ac1;
	border:1px solid #6e8ac1;
}



.dingwei{      /* 宿主机右侧按钮*/
	position:fixed !important;
	bottom:10px !important;
	right:0px !important;
} 
#seticon{
	float:right;
}
#toolbar_td td{
   font-size:14px;
   color:#fff;
   background-color:#8088bc;
   border:1px solid #6e7b98;
   padding:5px 9px;
 }
 #toolbar_td td:hover,#toolbar_td td:focus,#toolbar_td td:active{
   background-color:#2e456e;
   cursor:pointer;
 }
.spread{
	background:url(../assets/images/select.png) no-repeat 2px -78px;
	width:24px;
	height:28px;
	float:right;
	background-color:#8088bc;
	border:1px solid #6e7b98 !important;
	cursor:pointer;
}
.spread01{
	background:url(../assets/images/select.png) no-repeat 2px -98px;
	width:24px;
	height:28px;
	float:right;
	background-color:#8088bc;
	border:1px solid #6e7b98 !important;
	cursor:pointer;	
}
.setting{
	background:url(../assets/images/select.png) no-repeat 2px -58px;
	width:24px;
	height:28px;
	float:right;
	background-color:#8088bc;
	border:1px solid #6e7b98 !important;
	cursor:pointer;
}

